
<div id="dialog-chaufferDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @*<h4 class="modal-title" id="myModalLabel" data-bind="text: headingText">Confirmation</h4>*@
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <div>
                            <div class="well">
                                <table id="chaufferTable" class="table table-condensed ">
                                    <thead>
                                        <tr>
                                            <th> <span><span></span></span></th>
                                            <th> <span><span>Chauffeur Code</span></span></th>
                                            <th> <span><span>Chauffeur Name</span></span></th>
                                            <th> <span>Category<span></span></span></th>
                                            <th> <span>License Number<span></span></span></th>
                                            <th> <span>License Expiry<span></span></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko template: { name: 'itemChaufferTemplate' , foreach: $root.chauffers } -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <script id="itemChaufferTemplate" type="text/html">
                            <tr data-bind="click: $root.selectChauffer, css: { selectedRow: $data === $root.selectedChauffer() }">
                                <td><input type="checkbox" data-bind="checked:$root.isChaufferChecked" /></td>
                                <td data-bind="text: code"></td>
                                <td data-bind="text: name"></td>
                                <td data-bind="text: category"></td>
                                <td data-bind="text: licenseNum"></td>
                                <td data-bind="text: formattedLicenseExpiryDt"></td>
                            </tr>
                        </script>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
