
<div id="dialog-vehicleDetailDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialogConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @*<h4 class="modal-title" id="myModalLabel" data-bind="text: headingText">Confirmation</h4>*@
            </div>
            <div class="modal-body">
                <div>
                    <form class="form-horizontal">
                        <div>
                            <div class="well">
                                <table id="tariffTypeTable" class="table table-condensed ">
                                    <thead>
                                        <tr>
                                            <th> <span><span></span></span></th>
                                            <th> <span><span>Plate Number</span></span></th>
                                            <th> <span><span>Current Odemetor</span></span></th>
                                            <th class="make"> <span>Vehicle Make<span></span></span></th>
                                            <th class="model"> <span>Vehicle Model<span></span></span></th>
                                            <th class="model"> <span>Vehicle Category<span></span></span></th>
                                            <th class="model"> <span>Vehicle Status<span></span></span></th>
                                            <th class="model"> <span>Model Year<span></span></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko template: { name: 'itemVehicleTemplate' , foreach: $root.vehicleDetails } -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                                @*<!-- ko with: pager -->
                                    @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                    <!-- /ko -->*@
                            </div>
                        </div>
                        <script id="itemVehicleTemplate" type="text/html">
                            <tr data-bind="click: $root.selectVehicle, css: { selectedRow: $data === $root.selectedVehicle() }">
                                <td><input type="checkbox" data-bind="checked:$root.isVhicleChecked" /></td>
                                <td data-bind="text: plateNumber"></td>
                                <td data-bind="text: currentOdometer"></td>
                                <td data-bind="text: vehicleMakeCodeName"></td>
                                <td data-bind="text: vehicleModelCodeName"></td>
                                <td data-bind="text: vehicleCategoryCodeName"></td>
                                <td data-bind="text: vehicleStatusCodeName"></td>
                                <td data-bind="text: modelYear"></td>
                            </tr>
                        </script>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" id="dialog-confirm-no" class="btn btn-default" data-bind="click: $root.cancel">No</button>
                    <button type="button" id="dialog-confirm-yes" class="btn btn-primary" data-bind="click: $root.proceed">Yes</button>*@
            </div>
        </div>
    </div>
</div>
