<div id="chaufferDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="chaufferDialogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Select Chauffer</h2>
            </div>
            <div class="modal-body">
                <div class="header-toolsSection">
                    <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !chaufferFilterSectionVisilble(), click: showChaufferFilterSection" title='@Cares.Web.Resources.Shared.Common.ShowFilter'></a>
                </div>
                <div class="row" data-bind="visible: chaufferFilterSectionVisilble">
                    <div class="well">
                        <form class="form-horizontal">
                            <div class="form-group" data-bind="with: chaufferFilter">
                                <label class="control-label col-sm-2 margin-top-10">Chauffer Out Dt</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control margin-top-10" data-bind="datetimepicker: start" />
                                </div>
                                <label class="control-label col-sm-2 margin-top-10">Chauffer In Dt</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control margin-top-10" data-bind="datetimepicker: end" />
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-success btn-search margin-top-10"
                                            data-bind="click: $root.searchChauffers, enable: $root.canSearchChauffers">
                                        Search
                                    </button>
                                </div>
                                <div>
                                    <a href="#" class="glyphicon glyphicon-resize-small collapse-filter margin-top-15 margin-left-10" data-bind="click: $root.collapseChaufferFilterSection" title='@Cares.Web.Resources.Shared.Common.HideSection'></a>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="well">
                        <div class="form-group">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Chauffer</th>
                                        <th>Category</th>
                                        <th>License Number</th>
                                        <th>License Expiry</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko if: chauffers().length > 0 -->
                                    <!-- ko foreach: chauffers -->
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="addChaufferTemplate_popoverContent_isSelected" data-bind="checked: isSelected" />
                                        </td>
                                        <td data-bind="text: codeName"></td>
                                        <td data-bind="text: desigGrade"></td>
                                        <td data-bind="text: licenseNo"></td>
                                        <td data-bind="dateString: licenseDt, datePattern: 'DD-MM-YY HH:mm'"></td>
                                    </tr>
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: chauffers().length === 0 -->
                                    <tr><td colspan="5">No record(s) to display yet. </td></tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bind="click: addChauffersToRentalAgreement.bind($data, $data, 'collapseThree')">
                    Add
                </button>
                <button type="button" class="btn" data-dismiss="modal">@Cares.Web.Resources.Shared.Common.Close</button>
            </div>
        </div>
    </div>
</div>
