<div id="hiregroupInsuranceDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="hiregroupInsuranceDialogModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="myModalLabel">Select Insurances</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="well">
                        
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Insurance</th>
                                    <th>Start Dt</th>
                                    <th>End Dt</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: $root.selectedRaHireGroup().raHireGroupInsurances -->
                                <tr>
                                    <td>
                                        <input type="checkbox" class="raHireGroupInsuranceTemplate_popoverContent_isSelected" data-bind="checked: isSelected" />
                                    </td>
                                    <td data-bind="text: insuranceTypeCodeName"></td>
                                    <td>
                                        <input type="text" class="form-control raHireGroupInsuranceTemplate_popoverContent" data-bind="datetimepicker: start, validationDependsOn: internalStartDateTime, css: { 'errorFill': isInvalidPeriod() }" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control raHireGroupInsuranceTemplate_popoverContent" data-bind="datetimepicker: end, validationDependsOn: internalEndDateTime, css: { 'errorFill': isInvalidPeriod() }" />
                                    </td>
                                </tr>
                                <!-- /ko -->
                                <!-- ko if: $root.selectedRaHireGroup().raHireGroupInsurances().length === 0 -->
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="3">No record(s) to display yet. </td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">@Cares.Web.Resources.Shared.Common.Close</button>
            </div>
        </div>
    </div>
</div>
