@{
    ViewBag.Title = "Index";
    ViewBag.FluidLayout = true;
    ViewBag.HideMenu = true;
    ViewBag.HideFooter = true;
}

<div class="row" id="rentalAgreementBinding">
    <div class="row">
        <button class="btn btn-primary" data-bind="click: openRentalAgreement, visible: canOpen">Open Agreement</button>
        <button class="btn btn-primary" data-bind="click: updateRentalAgreement, visible: canUpdate">Update Agreement</button>
        <button class="btn" data-bind="click: closeRentalAgreement, visible: canClose">Close Agreement</button>
    </div><br/>
    <div id="raPanels">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div id="extrasHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            Extras
                        </a>
                        <a id="addExtrasPopoverLink" class="glyphicon glyphicon-chevron-right float-right" data-bind="bootstrapPopover: { html: true, title: 'Add Extras', elementNode: 'addExtrasTemplate', popoverId: 'addExtrasTemplate_popoverContent' }, attr:{ title: 'Add Extras' }"></a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: rentalAgreement">
                        <!-- ko foreach: rentalAgreementServiceItems -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-md-8">
                                            <span data-bind="text: serviceTypeCodeName"></span>
                                            <span>|</span>
                                            <span data-bind="text: serviceItemCodeName"></span>
                                        </label>
                                        <label for="qty" class="control-label col-sm-2">Qty</label>
                                        <div class="col-sm-2"><input type="text" id="qty" class="form-control" data-bind="value: quantity" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="startDt" class="control-label col-sm-3">Start Dt</label>
                                        <div class="col-md-5"><input id="startDt" type="text" class="form-control" data-bind="datetimepicker: start" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="endDt" class="control-label col-sm-3">End Dt</label>
                                        <div class="col-md-5"><input id="endDt" type="text" class="form-control" data-bind="datetimepicker: end" /></div>
                                        <a data-bind="click: $parent.removeRaServiceItem"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="driversHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            Drivers
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: rentalAgreement">
                        <button class="btn btn-primary" data-bind="click: $root.addDriverToRentalAgreement">Add</button>
                        <table id="raDriversTable" class="table table-condensed searchFilterResultSection">
                            <thead>
                                <tr>
                                    <th>Driver Name</th>
                                    <th>License No</th>
                                    <th>License Expiry Date</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: raDrivers">
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" data-bind="value: driverName" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" data-bind="value: licenseNo" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" data-bind="datetimepicker: licenseExpDt" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" data-bind="datetimepicker: start" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" data-bind="datetimepicker: end" />
                                    </td>
                                    <td><a data-bind="click: $parent.removeRaDriver"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="chauffersHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            Chauffers
                        </a>
                        <a id="addChauffersPopoverLink" class="glyphicon glyphicon-chevron-right float-right" data-bind="bootstrapPopover: { html: true, title: 'Add Chauffers', elementNode: 'addChaufferTemplate', popoverId: 'addChaufferTemplate_popoverContent' }, attr:{ title: 'Add Chauffers' }"></a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: rentalAgreement">
                        <table id="raChauffersTable" class="table table-condensed searchFilterResultSection">
                            <thead>
                                <tr>
                                    <th>Driver Name</th>
                                    <th>License No</th>
                                    <th>License Expiry Date</th>
                                    <th>License No</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: raChauffers">
                                <tr>
                                    <td data-bind="text: driverName"></td>
                                    <td data-bind="text: licenseNo"></td>
                                    <td data-bind="dateString: licenseExpDt, datePattern: 'DD-MM-YY HH:mm'"></td>
                                    <td data-bind="text: licenseNo"></td>
                                    <td data-bind="dateString: start, datePattern: 'DD-MM-YY HH:mm'"></td>
                                    <td data-bind="dateString: end, datePattern: 'DD-MM-YY HH:mm'"></td>
                                    <td><a data-bind="click: $parent.removeRaDriver"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="discountsHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            Discounts
                        </a>
                        <a class="glyphicon glyphicon-chevron-right float-right" data-bind="bootstrapPopover: { html: true, title: 'Add Discounts', elementNode: 'addDiscountTemplate', popoverId: 'addDiscountTemplate_popoverContent' }, attr:{ title: 'Add Discounts' }"></a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="damagesHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            Damages
                        </a>
                        <a id="addDamagesPopoverLink" class="glyphicon glyphicon-chevron-right float-right" data-bind="bootstrapPopover: { html: true, title: 'Add Damages', elementNode: 'addDamageTemplate', popoverId: 'addDamageTemplate_popoverContent' }, attr:{ title: 'Add Damages' }"></a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: $root.rentalAgreement">
                        <!-- ko foreach: rentalAgreementAdditionalCharges -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-md-8">
                                            <span data-bind="text: additionalChargeTypeCodeName"></span>
                                        </label>
                                        <label for="qty" class="control-label col-sm-2">Qty</label>
                                        <div class="col-sm-2"><input type="text" id="qty" class="form-control" data-bind="value: quantity" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="plateNumber" class="control-label col-sm-3">Plate No.</label>
                                        <div class="col-md-3"><input id="plateNumber" type="text" class="form-control" data-bind="value: plateNumber" /></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="rate" class="control-label col-sm-3">Rate</label>
                                        <div class="col-md-3"><input id="rate" type="text" class="form-control" data-bind="value: additionalChargeRate" /></div>
                                        <a data-bind="click: $parent.removeRaAdditionalCharge"><span class="glyphicon glyphicon-remove"></span></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="paymentsHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion" href="#collapseRaPayment">
                            Payments
                        </a>
                    </h4>
                </div>
                <div id="collapseRaPayment" class="panel-collapse collapse">
                    <div class="panel-body" data-bind="with: rentalAgreement">
                        <button class="btn btn-primary" data-bind="click: $root.addPaymentToRentalAgreement">Add</button>
                        <table id="raPayments" class="table table-condensed searchFilterResultSection">
                            <thead>
                                <tr>
                                    <th>Payment Mode</th>
                                    <th>Payment Dt</th>
                                    <th>Payment Amount</th>
                                    <th>Paid By</th>
                                    <th>Check Number</th>
                                    <th>Bank</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: raPayments">
                                <tr>
                                    <td>
                                        <select class="form-control" id="paymentMode" data-bind="options: $root.paymentModes, optionsCaption: '<Payment Mode>', optionsText: 'codeName', optionsValue: 'id', value: paymentModeId"></select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" data-bind="datetimepicker: paymentDt" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" data-bind="value: paymentAmount" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" data-bind="value: paidBy" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" data-bind="value: checkNumber" />
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" data-bind="value: bank" />
                                    </td>
                                    <td><a data-bind="click: $parent.removeRaPayment"><span class="glyphicon glyphicon-remove"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="raMain">
        <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
                            Customer
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form id="customer" class="form-horizontal" data-bind="with: rentalAgreement().businessPartner">
                            <div class="form-group">
                                <label for="customerNumber" class="control-label col-sm-2">Customer #</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="<Customer #>" id="customerNumber" data-bind="value: customerNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <label for="isCustomerIndividual" id="isIndividualLabel" class="control-label col-sm-3">Is Individual</label>
                                @* ReSharper disable UnknownCssClass *@
                                <div class="col-md-1 checkBoxCol">
                                    @* ReSharper restore UnknownCssClass *@
                                    <input type="checkbox" class="form-control" id="isCustomerIndividual" data-bind="checked: isIndividual, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" id="customerPaymentTerm" data-bind="options: $root.paymentTerms, optionsCaption: '<Payment Term>', optionsText: 'codeName', optionsValue: 'id', value: paymentTermId, enable: !$root.rentalAgreement().id()"></select>
                                </div>
                            </div>
                            <!-- ko if: isIndividual -->
                            <!-- ko with: businessPartnerIndividual -->
                            <div class="form-group">
                                <label for="customerFirstName" class="control-label col-sm-2">Name</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="<First Name>" id="customerFirstName" data-bind="value: firstName, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="<Last Name>" id="customerLastName" data-bind="value: lastName, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerNic" class="control-label col-sm-2">NIC</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="<NIC No.>" id="customerNic" data-bind="value: nicNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="<NIC Expiry>" id="customerNicExpiry" data-bind="datepicker: nicExpiry, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerPassport" class="control-label col-sm-2">Passport</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="<Passport No.>" id="customerPassport" data-bind="value: passportNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="<Passport Expiry>" id="customerPassportExpiry" data-bind="datepicker: passportExpiry, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerLicense" class="control-label col-sm-2">License</label>

                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="<License No.>" id="customerLicense" data-bind="value: licenseNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="<License Expiry>" id="customerLicenseExpiry" data-bind="datepicker: licenseExpiry, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerDOB" class="control-label col-sm-2">DOB/Sponsor</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="<DOB>" id="customerDOB" data-bind="datepicker: dateOfBirth, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="<Sponsor/Kafeel>" id="customerSponsor" />
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- /ko -->
                            <div class="form-group" data-bind="with: businessPartnerCompany, visible: !isIndividual()" style="display: none">
                                <label for="customerCompanyCode" class="control-label col-sm-2">Company</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<Company Code>" id="customerCompanyCode" data-bind="value: code, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<Company Name>" id="customerCompanyName" data-bind="value: name, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group" data-bind="with: $root.rentalAgreement, visible: !isIndividual()" style="display: none">
                                <label for="renterName" class="control-label col-sm-2">Renter</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<Name>" id="renterName" data-bind="value: rentersName, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<License No>" id="renterLicenseNo" data-bind="value: rentersLicenseNo, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="<License Expiry>" id="renterLicenseExpiry" data-bind="datetimepicker: rentersLicenseExpiry, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerPhone" class="control-label col-sm-2">Phone/Mobile</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="<Phone>" id="customerPhone" data-bind="value: homePhone, enable: !$root.rentalAgreement().id()" />
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" placeholder="<Mobile>" id="customerMobile" data-bind="value: mobile, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerPhone" class="control-label col-sm-2">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="<Email>" id="customerEmail" data-bind="value: email, enable: !$root.rentalAgreement().id()" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion3">
            <div class="panel panel-default">
                <div id="addVehiclesHeading" class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion3" href="#collapseSeven">
                            Vehicles
                        </a>
                        <a id="addVehiclesPopoverLink" class="glyphicon glyphicon-chevron-right float-right" data-bind="bootstrapPopover: { html: true, title: 'Add Vehicles', elementNode: 'vehicleTemplate', popoverId: 'vehicleTemplate_popoverContent' }, attr:{ title: 'Add Vehicles' }"></a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse in">
                    <div class="panel-body customPanel">
                        <form id="vehicle" class="form-horizontal" data-bind="with: rentalAgreement">
                            <!-- ko foreach: rentalAgreementHireGroups -->
                            <div class="panel panel-default" data-bind="click: $root.selectRaHireGroup">
                                <div class="panel-heading">
                                    <div class="form-group" data-bind="with: vehicle">
                                        <label for="vehiclePlateNumber" class="control-label col-sm-2">Plate #</label>
                                        <div class="col-md-2">
                                            <span id="vehiclePlateNumber" data-bind="text: plateNumber"></span>
                                        </div>
                                        <label for="vehicleHireGroup" class="control-label col-sm-2">Hire Group</label>
                                        <div class="col-md-2">
                                            <span id="vehicleHireGroup" data-bind="text: code"></span>
                                        </div>
                                        <label for="vehicleMakeText" class="control-label col-sm-2">Make</label>
                                        <div class="col-md-2">
                                            <span id="vehicleMakeText" data-bind="text: vehicleMake"></span>
                                        </div>
                                        <div class="col-md-2">
                                            <img id="vehicleImage" src="#" alt="" data-bind="attr:{ src: $root.vehicleImage }" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!-- ko with: vehicle -->
                                        <label for="vehicleModel" class="control-label col-sm-2">Model</label>
                                        <div class="col-md-2">
                                            <span id="vehicleModel" data-bind="text: vehicleModel"></span>
                                        </div>
                                        <label for="vehicleCategory" class="control-label col-sm-2">Category</label>
                                        <div class="col-md-2">
                                            <span id="vehicleCategory" data-bind="text: vehicleCategory"></span>
                                        </div>
                                        <label for="modelYear" class="control-label col-sm-2">Model Year</label>
                                        <div class="col-md-2">
                                            <span id="modelYear" data-bind="text: modelYear"></span>
                                        </div>
                                        <!-- /ko -->
                                        <div class="col-md-2">
                                            <a id="vehicleMovementPopoverLink" class="glyphicon glyphicon-road" data-bind="bootstrapPopover: { html: true, title: 'Movement Details', elementNode: 'vehicleMovementTemplate', popoverId: 'vehicleMovementTemplate_popoverContent' }, attr: { title: 'Movement Details' }">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-2"></label>
                                        <div class="col-md-5">
                                            <a id="insurancePopoverLink" class="insurancePopoverLink glyphicon glyphicon-briefcase" data-bind="click: $root.openRaHireGroupInsuranceDialog, attr: { title: 'Insurances' }">
                                            </a>
                                            <a class="glyphicon glyphicon-export" data-bind="click: $root.addVehicleCheckListsOutToRa, attr: { title: 'CheckList Out' }">
                                            </a>
                                            <a class="glyphicon glyphicon-import" data-bind="click: $root.addVehicleCheckListsInToRa, attr: { title: 'CheckList In' }">
                                            </a>
                                            <a data-bind="click: $parent.removeRaHireGroup, visible: canRemove"><span class="glyphicon glyphicon-remove"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="raBilling">
        <div class="panel-group" id="accordion4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion4" href="#collapseEight">
                            Rental Agreement
                        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse in">
                    <div class="panel-body customPanel">
                        <form id="ra" class="form-horizontal" data-bind="with: rentalAgreement">
                            <div class="form-group">
                                <label for="rentalAgreementNumber" class="control-label col-sm-2">RA #</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" placeholder="<RA #>" id="rentalAgreementNumber" data-bind="enable: false, value: id" />
                                </div>
                                <label for="rentalAgreementBookingNumber" class="control-label col-sm-2 notFirstColumn">Booking #</label>
                                <div class="col-md-3" id="bookingNumberControl">
                                    <input type="text" class="form-control" placeholder="<Booking No>" id="rentalAgreementBookingNumber" data-bind="enable: false, value: raBookingId" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementDuration" class="control-label col-sm-2">Duration</label>
                                <div class="col-md-2 input-small">
                                    <input type="text" class="form-control" placeholder="<Days>" id="rentalAgreementDuration" data-bind="value: days, enable: !id()" />
                                </div>
                                <div class="col-md-2 input-small">
                                    <input type="text" class="form-control" placeholder="<Hours>" id="rentalAgreementHours" data-bind="value: hours, enable: !id()" />
                                </div>
                                <div class="col-md-2 input-small">
                                    <input type="text" class="form-control" placeholder="<Mins>" id="rentalAgreementMins" data-bind="value: minutes, enable: !id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementStartDate" class="control-label col-sm-2"></label>
                                <div class="col-md-4 dateTimeControl">
                                    <input type="text" class="form-control dateControl" placeholder="<Start Date>" id="rentalAgreementStartDate" data-bind="datetimepicker: start, enable: !id()" />
                                </div>
                                <div class="col-md-4 dateTimeControl">
                                    <input type="text" class="form-control dateControl" placeholder="<End Date>" id="rentalAgreementEndDate" data-bind="datetimepicker: end, enable: !id()" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementOperation" class="control-label col-sm-2">Operation</label>
                                <div class="col-md-4">
                                    <select class="form-control" id="rentalAgreementOperation" data-bind="options: $root.operations, optionsCaption: '<Operation>', optionsText: 'codeName', optionsValue: 'id', value: operationId, enable: !id()"></select>
                                </div>
                                <label for="rentalAgreementOperation" id="rentalPaymentTermLabel" class="control-label col-sm-2 notFirstColumn">Payment</label>
                                <div class="col-md-4" id="rentalPaymentTermControl">
                                    <select class="form-control" id="rentalAgreementPaymentTerm" data-bind="options: $root.paymentTerms, optionsCaption: '<Payment Term>', optionsText: 'codeName', optionsValue: 'id', value: paymentTermId, enable: !id()"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rentalAgreementOutLocation" class="control-label col-sm-2">Location</label>
                                <div class="col-md-5">
                                    <select class="form-control" id="rentalAgreementOutLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Out Location>', optionsText: 'code', optionsValue: 'id', value: openLocation, enable: !id()"></select>
                                </div>
                                <div class="col-md-4" id="returnLocationControl">
                                    <select class="form-control" id="rentalAgreementReturnLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Return Location>', optionsText: 'code', optionsValue: 'id', value: closeLocation, enable: !id()"></select>
                                </div>
                            </div>
                            <div class="form-group" data-bind="with: $parent">
                                <label for="rentalAgreementHireGroup" class="control-label col-sm-2">Hire Group</label>
                                <div class="col-md-9 rentalHireGroupControl">
                                    <input type="text" class="form-control" placeholder="<Hire Group>" id="rentalAgreementHireGroup" data-bind="enable: canLookForHireGroups, value: hireGroupText" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group" id="accordion5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="headingLink" data-toggle="collapse" data-parent="#accordion5" href="#collapseNine">
                            Billing
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form id="billing" class="form-horizontal" data-bind="with: rentalAgreement().billing">
                            <div class="form-group">
                                <div>
                                    <span>Vehicle Charge</span>
                                    <span class="float-right" data-bind="text: vehicleCharge"></span>
                                </div>
                                <div>
                                    <span class="Bold">Net Billing</span>
                                    <span class="float-right" data-bind="text: netBilling"></span>
                                </div>
                                <div>
                                    <span>Excess Mileage</span>
                                    <span class="float-right" data-bind="text: excessMileage"></span>
                                </div>
                                <div>
                                    <span>Service Charge</span>
                                    <span class="float-right" data-bind="text: serviceCharge"></span>
                                </div>
                                <div>
                                    <span>Insurance Charge</span>
                                    <span class="float-right" data-bind="text: insuranceCharge"></span>
                                </div>
                                <div>
                                    <span>Driver Charge</span>
                                    <span class="float-right" data-bind="text: driverCharge"></span>
                                </div>
                                <div>
                                    <span>Additional Charge</span>
                                    <span class="float-right" data-bind="text: additionalCharge"></span>
                                </div>
                                <div>
                                    <span class="Bold">Total Charges</span>
                                    <span class="float-right" data-bind="text: totalCharges"></span>
                                </div>
                                <div>
                                    <span class="Bold">Amount Paid</span>
                                    <span class="float-right" data-bind="text: amountPaid"></span>
                                </div>
                                <div>
                                    <span class="Bold">Balance</span>
                                    <span class="float-right" data-bind="text: balance"></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="html/text" id="vehicleTemplate">
        <div id="vehicleTemplate_popoverContent" class="searchFilterResultSection">
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Start Dt/Time</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control vehicleTemplate_popoverContent_outDtTime" data-bind="datetimepicker: vehicleStartDtFilter" />
                        </div>
                        <label class="control-label col-sm-2">End Dt/Time</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control vehicleTemplate_popoverContent_inDtTime" data-bind="datetimepicker: vehicleEndDtFilter" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Allocation Status</label>
                        <div class="col-md-3">
                            <select class="form-control vehicleTemplate_popoverContent_allocationStatus" data-bind="options: $root.allocationStatuses, optionsCaption: '<Status>', optionsText: 'codeName', optionsValue: 'id', value: vehicleAllocationStatusFilter"></select>
                        </div>
                        <label class="control-label col-sm-2">Out Location</label>
                        <div class="col-md-3">
                            <select class="form-control vehicleTemplate_popoverContent_outLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Location>', optionsText: 'code', optionsValue: 'id', value: vehicleOperationsWorkPlaceFilter"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <button class="btn btn-success vehicleTemplate_popoverContent_searchVehicleButton"
                                    data-bind="click: searchVehicles, enable: $root.canSearchVehicles">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Plate Number</th>
                        <th>Hire Group</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Model Year</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: vehicles">
                    <tr data-bind="click: $root.selectVehicle">
                        <td data-bind="text: plateNumber"></td>
                        <td data-bind="text: code"></td>
                        <td data-bind="text: vehicleMake"></td>
                        <td data-bind="text: vehicleModel"></td>
                        <td data-bind="text: modelYear"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>

    <script type="html/text" id="addExtrasTemplate">
        <div id="addExtrasTemplate_popoverContent" class="searchFilterResultSection">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Service Item Code</th>
                        <th>Service Item</th>
                        <th>Service Type</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: serviceItems">
                    <tr>
                        <td>
                            <input type="checkbox" class="addExtrasTemplate_popoverContent_isSelected" data-bind="checked: isSelected" />
                        </td>
                        <td data-bind="text: code"></td>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: serviceTypeCodeName"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary addExtrasTemplate_popoverContent_addExtrasButton"
                        data-bind="click: addExtrasToRentalAgreement.bind($data, $data, 'addExtrasPopoverLink')">
                    Add
                </button>
            </div>
        </div>
    </script>

    <script type="html/text" id="addDriversTemplate">
        <div id="addDriversTemplate_popoverContent" class="searchFilterResultSection">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Driver Name</th>
                        <th>License No</th>
                        <th>License Expiry</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: raDrivers"></tbody>
            </table>
        </div>
    </script>

    <script type="html/text" id="addChaufferTemplate">
        <div id="addChaufferTemplate_popoverContent" class="searchFilterResultSection">
            <div>
                <form class="form-horizontal">
                    <div class="form-group" data-bind="with: chaufferFilter">
                        <label class="control-label col-sm-2">Chauffer Out Dt</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control addChaufferTemplate_popoverContent_chaufferStDt" data-bind="datetimepicker: start" />
                        </div>
                        <label class="control-label col-sm-2">Chauffer In Dt</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control addChaufferTemplate_popoverContent_chaufferEndDt" data-bind="datetimepicker: end" />
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success addChaufferTemplate_popoverContent_searchChaufferButton"
                                    data-bind="click: $root.searchChauffers, enable: $root.canSearchChauffers">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Chauffer</th>
                        <th>Category</th>
                        <th>License Number</th>
                        <th>License Expiry</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: chauffers">
                    <tr>
                        <td>
                            <input type="checkbox" class="addChaufferTemplate_popoverContent_isSelected" data-bind="checked: isSelected" />
                        </td>
                        <td data-bind="text: codeName"></td>
                        <td data-bind="text: desigGrade"></td>
                        <td data-bind="text: licenseNo"></td>
                        <td data-bind="dateString: licenseDt, datePattern: 'DD-MM-YY HH:mm'"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary addChaufferTemplate_popoverContent_chaufferAddButton"
                        data-bind="click: addChauffersToRentalAgreement.bind($data, $data, 'addChauffersPopoverLink')">
                    Add
                </button>
            </div>
        </div>
    </script>

    <script type="html/text" id="addDiscountTemplate">
        <div id="addDiscountTemplate_popoverContent" class="searchFilterResultSection">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Plate Number</th>
                        <th>Hire Group</th>
                        <th>Vehicle Make</th>
                        <th>Vehicle Model</th>
                        <th>Vehicle Category</th>
                        <th>Model Year</th>
                        <th>Discount Code</th>
                        <th>Tariff Type</th>
                        <th>Disount Percentage</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: raDiscounts"></tbody>
            </table>
        </div>
    </script>

    <script type="html/text" id="addDamageTemplate">
        <div id="addDamageTemplate_popoverContent" class="searchFilterResultSection">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Additional Charge Type</th>
                        <th>Hire Group</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: additionalCharges">
                    <tr>
                        <td>
                            <input type="checkbox" class="addDamageTemplate_popoverContent_isSelected" data-bind="checked: isSelected" />
                        </td>
                        <td data-bind="text: additionalChargeTypeCodeName"></td>
                        <td data-bind="text: hireGroupDetailCodeName"></td>
                        <td data-bind="text: rate"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary addDamageTemplate_popoverContent_chaufferAddButton"
                        data-bind="click: addAdditionalChargesToRentalAgreement.bind($data, $data, 'addDamagesPopoverLink')">
                    Add
                </button>
            </div>
        </div>
    </script>

    <script type="html/text" id="vehicleMovementTemplate">
        <div id="vehicleMovementTemplate_popoverContent">
            <div>
                <form class="form-horizontal" data-bind="with: $root.selectedRaHireGroup">
                    <div class="form-group" data-bind="with: vehicle">
                        <label class="control-label col-sm-2">Plate #</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control vehicleMovementTemplate_popoverContent_plateNo" data-bind="value: plateNumber" />
                        </div>
                        <label class="control-label col-sm-2">Tank Size</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control vehicleMovementTemplate_popoverContent_tankSize" data-bind="value: tankSize" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Out Dt/Time</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementOut">
                            <input type="text" class="form-control vehicleMovementTemplate_popoverContent_outDtTime" data-bind="datetimepicker: start, enable: false" />
                        </div>
                        <label class="control-label col-sm-2">In Dt/Time</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementIn">
                            <input type="text" class="form-control vehicleMovementTemplate_popoverContent_inDtTime" data-bind="datetimepicker: start" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Out Location</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementOut">
                            <select class="form-control vehicleMovementTemplate_popoverContent_outLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Operation>', optionsText: 'code', optionsValue: 'id', value: operationsWorkPlaceId, enable: false"></select>
                        </div>
                        <label class="control-label col-sm-2">In Location</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementIn">
                            <select class="form-control vehicleMovementTemplate_popoverContent_inLocation" data-bind="options: $root.availableLocations, optionsCaption: '<Operation>', optionsText: 'code', optionsValue: 'id', value: operationsWorkPlaceId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Odometer Out</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementOut">
                            <input type="text" class="form-control vehicleMovementTemplate_popoverContent_odometerOut" data-bind="value: odometer, enable: false" />
                        </div>
                        <label class="control-label col-sm-2">Odometer In</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementIn">
                            <input type="text" class="form-control vehicleMovementTemplate_popoverContent_odometerIn" data-bind="value: odometer" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Fuel Out</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementOut">
                            <input type="text" class="form-control vehicleMovementTemplate_popoverContent_fuelOut" data-bind="value: fuelLevel, enable: false" />
                        </div>
                        <label class="control-label col-sm-2">Fuel In</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementIn">
                            <input type="text" class="form-control vehicleMovementTemplate_popoverContent_fuelIn" data-bind="value: fuelLevel" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Vehicle Status</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementOut">
                            <select class="form-control vehicleMovementTemplate_popoverContent_vehicleStatusOut" data-bind="options: $root.vehicleStatuses, optionsCaption: '<Status>', optionsText: 'codeName', optionsValue: 'id', value: vehicleStatusId, enable: false"></select>
                        </div>
                        <label class="control-label col-sm-2">Vehicle Status</label>
                        <div class="col-md-3" data-bind="with: vehicleMovementIn">
                            <select class="form-control vehicleMovementTemplate_popoverContent_vehicleStatusIn" data-bind="options: $root.vehicleStatuses, optionsCaption: '<Status>', optionsText: 'codeName', optionsValue: 'id', value: vehicleStatusId"></select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </script>

    @Html.Partial("_HireGroupInsurancesDialog")
    
    @Html.Partial("_RaVehicleCheckListOutDialog")
    
    @Html.Partial("_RaVehicleCheckListInDialog")

</div>

@section inlinescripts
{
    <script type="text/javascript">
        require(["rentalAgreement/rentalAgreement.view"]);
    </script>
}
