

<div class="well col-md-12" id="additionalChargeEditor" data-bind="visible: isAdditionalChargeEditorVisible, with: addEditAdditionalCharge" style="display: none;">
    <div class="float-left detailsContainer">
        <h3 class="page-header detailsHeaderSection">Additional Charge Detail</h3>
        <button class="btn  btn-info" id="saveBtn" data-bind="click: $root.onSaveAdditionalDriverChrg, enable: hasChanges, css: { 'btn-warning': hasChanges }">@Cares.Web.Resources.Shared.Common.Save</button>
        <button class="btn btn-default" id="saveBtn" data-bind="click: $root.closeAdditionalDriverChrgEditor">@Cares.Web.Resources.Shared.Common.Cancel</button>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
        </div>
        <div class="form-group">
            <label for="code" class="control-label h5 col-sm-1">Code *</label>
            <div class="col-md-3">
                <input type="text" placeholder='Code' class="form-control" id="code" data-bind="value: code, validationTooltip: code" />
            </div>
            <label for="name" class="control-label h5 col-sm-1">Name</label>
            <div class="col-md-3">
                <input type="text" placeholder='Name' class="form-control" id="name" data-bind="value: name, validationTooltip: name" />
            </div>
            <label for="isEditable" class="control-label h5 col-sm-1">Is Editable</label>
            <div class="col-md-3">
                <input id="isEditable" type="checkbox" class="form-control" data-bind="checked: isEditable " />
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="control-label h5 col-sm-1">Description</label>
            <div class="col-md-3">
                <textarea class="form-control" rows="4" placeholder='Description' id="description" data-bind="value: description, valueUpdate: 'keyup'"></textarea>
            </div>
        </div>
    </form>
    <br />
    <div class="panel panel-info">
        <div class="panel-heading">Additional Charge</div>
        <br />
        <div data-bind="with:additionalCharge">
            <div class="form-group">
                <div class="addToBtnDiv row"><button class="btn btn-info addToBtn" id="saveBtn" data-bind="click: $root.onAddAdditionalCharge">@Cares.Web.Resources.Shared.Common.AddToList</button></div>
            </div>
            <div class="form-group">
                <label for="hireGroup" class="control-label h5  col-sm-1">Hire Group Detail*</label>
                <div class="col-md-3">
                    <select id="hireGroup" class="form-control" data-bind="options: $root.hireGroupDetails, optionsText: 'HireGroupDetailCodeName',optionsValue:'HireGroupDetailId', optionsCaption: '&lt;' + 'Hire Group Detail' + '&gt;', value: hireGroupDetailId, validationTooltip: hireGroupDetailId"></select>
                </div>
                <label for="date" class="control-label h5  col-sm-1">From Date *</label>
                <div class="col-md-3">
                    <input type="text" placeholder='from Date' class="form-control" id="date" data-bind="datepicker: startDate, validationTooltip: startDate" />
                </div>
                <label for="rate" class="control-label  h5 col-sm-1">Additional Charge *</label>
                <div class="col-md-3">
                    <input type="text" class="form-control" id="rate" data-bind="value: rate">
                </div>
            </div>
            <div class="form-group">
            </div>
            <br />
            <div class="well additionalChargeWell">
                <table id="additionalChargeTab" class="table">
                    <thead>
                        <tr>
                            <th> <span>Hire Group Detail<span></span></span></th>
                            <th> <span><span>Start Date</span></span></th>
                            <th> <span>Additional Charge<span></span></span></th>
                            <th> <span>@Cares.Web.Resources.Tariff.AdditionalDriverChrg.RevisionNumber<span></span></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<!-- ko template: { name: 'itemAddChargeTemplate' , foreach: $root.revisions } -->
                    <!-- /ko -->*@
                    </tbody>
                </table>
            </div>
            <script id="itemAddChargeTemplate" type="text/html">
                <tr>
                    @*<td data-bind="text: tariffTypeCode"></td>
                        <td data-bind="text: rate"></td>
                        <td data-bind="text: formattedEffectiveDate"></td>
                        <td data-bind="text: revisionNumber"></td>
                        <td data-bind="text: createdBy"></td>
                        <td data-bind="text: modifiedBy"></td>
                        <td data-bind="text: formattedModifiedDate"></td>*@
                </tr>
            </script>
        </div>
    </div>

</div>