#tariffTypeBinding table thead tr .ttypesearchButton {
  margin-left: 5px;
}
#fleetRootBinding table thead tr .fleetCode {
  width: 15%;
}
#fleetRootBinding table thead tr .fleetName {
  width: 15%;
}
#fleetRootBinding table thead tr .fleetOpp {
  width: 20%;
}
#fleetRootBinding table thead tr .fleetCountry {
  width: 20%;
}
#fleetRootBinding table thead tr .fleetRegion {
  width: 20%;
}
#FleetPoolEditor {
  margin-top: 15px;
}
#FleetPoolEditor .detailsContainer {
  width: 100%;
}
#FleetPoolEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#hireGroupBinding #hireGroupEditor {
  margin-top: 15px;
}
#hireGroupBinding #hireGroupEditor .detailsContainer {
  width: 100%;
  background-color: black;
}
#hireGroupBinding #hireGroupEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#tariffTypeBinding table thead tr .ttypesearchButton {
  margin-left: 5px;
}
#tariffTypeBinding table thead tr .tariffTypeCode {
  width: 10%;
}
#tariffTypeBinding table thead tr .tariffTypeName {
  width: 15%;
}
#tariffTypeBinding table thead tr .pricingScheme {
  width: 13%;
}
#tariffTypeBinding table thead tr .operation {
  width: 13%;
}
#tariffTypeBinding table thead tr .measurementUnit {
  width: 10%;
}
#tariffTypeBinding table thead tr .from {
  width: 7%;
}
#tariffTypeBinding table thead tr .to {
  width: 7%;
}
#tariffTypeBinding table thead tr .gracePeriod {
  width: 7%;
}
#tariffTypeBinding table thead tr .effectiveDate {
  width: 5%;
}
#tariffTypeBinding table thead tr .revision {
  width: 5%;
}
#tariffTypeBinding #tariffTypeEditor {
  margin-top: 15px;
}
#tariffTypeBinding #tariffTypeEditor .detailsContainer {
  width: 100%;
}
#tariffTypeBinding #tariffTypeEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#tariffRateBinding table thead tr .tarrifratecode {
  width: 8%;
}
#tariffRateBinding table thead tr .tarrifrateName {
  width: 10%;
}
#tariffRateBinding table thead tr .tarrifrateOperation {
  width: 10%;
}
#tariffRateBinding table thead tr .tarrifrateType {
  width: 10%;
}
#tariffRateBinding table thead tr .tarrifrateSEdate {
  width: 12%;
}
#tariffRateBinding table thead tr .tarrifrateEFDate {
  width: 15%;
}
#tariffRateBinding #tariffRateEditor {
  margin-top: 15px;
}
#tariffRateBinding #tariffRateEditor .detailsContainer {
  width: 100%;
}
#tariffRateBinding #tariffRateEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#insuranceRateBinding table thead tr .IRCode {
  width: 10%;
}
#insuranceRateBinding table thead tr .IRName {
  width: 10%;
}
#insuranceRateBinding table thead tr .IROperation {
  width: 10%;
}
#insuranceRateBinding table thead tr .IRType {
  width: 10%;
}
#insuranceRateBinding table thead tr .IRDate {
  width: 12%;
}
#insuranceRateBinding #insuranceRateEditor {
  margin-top: 15px;
}
#insuranceRateBinding #insuranceRateEditor .detailsContainer {
  width: 100%;
}
#insuranceRateBinding #insuranceRateEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#rentalAgreementBinding .well {
  padding-top: 0;
}
#rentalAgreementBinding .form-group {
  margin-bottom: 5px;
}
#rentalAgreementBinding #raPanels {
  width: 25.9%;
  float: left;
}
#rentalAgreementBinding #raMain {
  width: 36.5%;
  float: left;
  margin-left: .5%;
  margin-right: .5%;
}
#rentalAgreementBinding #raMain #ra {
  min-height: 300px;
}
#rentalAgreementBinding #raMain #vehicle {
  margin-top: .5%;
  min-height: 105px;
}
#rentalAgreementBinding #raMain input,
#rentalAgreementBinding #raMain select,
#rentalAgreementBinding #raMain textarea {
  max-width: 100%;
}
#rentalAgreementBinding #raMain #vehicleImage {
  max-width: 32px;
  max-height: 32px;
}
#rentalAgreementBinding #raBilling {
  width: 36.5%;
  float: left;
}
#rentalAgreementBinding #raBilling #customer {
  min-height: 300px;
}
#rentalAgreementBinding #raBilling #billing {
  margin-top: .5%;
  min-height: 105px;
}
#companyBinding table thead tr .CompanyCodeH {
  width: 15%;
}
#companyBinding table thead tr .CompanyNameH {
  width: 15%;
}
#companyBinding table thead tr .CompanydesH {
  width: 15%;
}
#companyBinding table thead tr .CompanyOrgGroupH {
  width: 15%;
}
#companyBinding table thead tr .CompanyBSegH {
  width: 15%;
}
#companyBinding table thead tr .CompanyPCompanyH {
  width: 15%;
}
#companyBinding #CompanyEditor {
  margin-top: 15px;
}
#companyBinding #CompanyEditor .detailsContainer {
  width: 100%;
}
#companyBinding #CompanyEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#OperationBinding table thead tr .ttypesearchButton {
  margin-left: 5px;
}
#OperationBinding table thead tr .code {
  width: 18%;
}
#OperationBinding table thead tr .name {
  width: 18%;
}
#OperationBinding table thead tr .company {
  width: 18%;
}
#OperationBinding table thead tr .department {
  width: 18%;
}
#OperationBinding table thead tr .departmentType {
  width: 18%;
}
#OperationBinding #OperationEditor {
  margin-top: 15px;
}
#OperationBinding #OperationEditor .detailsContainer {
  width: 100%;
}
#OperationBinding #OperationEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#OrgGroupBinding table thead tr .ttypesearchButton {
  margin-left: 5px;
}
#OrgGroupBinding table thead tr .OrgGroupcode {
  width: 30%;
}
#OrgGroupBinding table thead tr .OrgGroupname {
  width: 30%;
}
#OrgGroupBinding table thead tr .OrgGroupDes {
  width: 30%;
}
#OrgGroupBinding #_OrgGroupEditor {
  margin-top: 15px;
}
#OrgGroupBinding #_OrgGroupEditor .detailsContainer {
  width: 100%;
}
#OrgGroupBinding #_OrgGroupEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#WorkPlaceBinding table thead tr .ttypesearchButton {
  margin-left: 5px;
}
#WorkPlaceBinding table thead tr .WPcode {
  width: 10%;
}
#WorkPlaceBinding table thead tr .WPname {
  width: 10%;
}
#WorkPlaceBinding table thead tr .WPDescription {
  width: 15%;
}
#WorkPlaceBinding table thead tr .WPType {
  width: 15%;
}
#WorkPlaceBinding table thead tr .WPCompany {
  width: 10%;
}
#WorkPlaceBinding table thead tr .WPLocation {
  width: 15%;
}
#WorkPlaceBinding table thead tr .WPParent {
  width: 15%;
}
#WorkPlaceBinding #WorkplaceEditor {
  margin-top: 15px;
}
#WorkPlaceBinding #WorkplaceEditor .detailsContainer {
  width: 100%;
}
#WorkPlaceBinding #WorkplaceEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#WorkPlaceBinding #WorkplaceEditor .addToBtn {
  float: right;
}
#WorkPlaceBinding #WorkplaceEditor .addToBtnDiv {
  width: 100%;
  margin-bottom: 15px;
}
#WorkLocationBinding table thead tr .ttypesearchButton {
  margin-left: 5px;
}
#WorkLocationBinding table thead tr .WLcode {
  width: 8%;
}
#WorkLocationBinding table thead tr .WLname {
  width: 8%;
}
#WorkLocationBinding table thead tr .WLDescription {
  width: 14%;
}
#WorkLocationBinding table thead tr .WLCompany {
  width: 10%;
}
#WorkLocationBinding table thead tr .WLCountry {
  width: 10%;
}
#WorkLocationBinding table thead tr .WLregion {
  width: 10%;
}
#WorkLocationBinding table thead tr .WLSubregion {
  width: 10%;
}
#WorkLocationBinding table thead tr .WLCity {
  width: 10%;
}
#WorkLocationBinding table thead tr .WLArea {
  width: 10%;
}
#WorkLocationBinding #WorkplaceEditor {
  margin-top: 15px;
}
#WorkLocationBinding #WorkplaceEditor .detailsContainer {
  width: 100%;
}
#WorkLocationBinding #WorkplaceEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#WorkLocationBinding #WorkplaceEditor .addToBtn {
  float: right;
}
#WorkLocationBinding #WorkplaceEditor .addToBtnDiv {
  width: 100%;
  margin-bottom: 15px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.collapse-filter {
  margin-top: 10px;
}
.create-new-icon {
  margin-left: 10px;
}
.pageHeaderSection {
  width: 93%;
  margin-bottom: 0;
  margin-top: 15px;
}
.header-toolsSection {
  margin-top: 20px;
}
/* For Fluid Layout */
@media (min-width: 1200px) {
  .container-fluid {
    max-width: 100%;
    margin: 10px;
  }
}
/* For Fluid Layout */
/* Input Mini */
@media (min-width: 768px) {
  .input-mini {
    width: 8%;
    padding-right: 0;
  }
}
/* Input Mini */
/* Input Small */
@media (min-width: 768px) {
  .input-small {
    width: 16%;
    padding-right: 0;
  }
}
/* Input Small */
/*# sourceMappingURL=MainSite.css.map */