#tariffTypeBinding table thead tr .ttypesearchButton {
  margin-left: 5px;
}
#tariffTypeBinding table thead tr .tariffTypeCode {
  width: 10%;
}
#tariffTypeBinding table thead tr .tariffTypeName {
  width: 13%;
}
#tariffTypeBinding table thead tr .pricingScheme {
  width: 13%;
}
#tariffTypeBinding table thead tr .operation {
  width: 17%;
}
#tariffTypeBinding table thead tr .measurementUnit {
  width: 12%;
}
#tariffTypeBinding table thead tr .from {
  width: 7%;
}
#tariffTypeBinding table thead tr .to {
  width: 7%;
}
#tariffTypeBinding table thead tr .gracePeriod {
  width: 7%;
}
#tariffTypeBinding table thead tr .effectiveDate {
  width: 5%;
}
#tariffTypeBinding table thead tr .revision {
  width: 5%;
}
#tariffTypeBinding #tariffTypeEditor {
  margin-top: 15px;
}
#tariffTypeBinding #tariffTypeEditor .detailsContainer {
  width: 100%;
}
#tariffTypeBinding #tariffTypeEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#tariffRateBinding table thead tr .tarrifratecode {
  width: 15%;
}
#tariffRateBinding table thead tr .tarrifrateName {
  width: 15%;
}
#tariffRateBinding table thead tr .tarrifrateOperation {
  width: 20%;
}
#tariffRateBinding table thead tr .tarrifrateType {
  width: 14%;
}
#tariffRateBinding table thead tr .tarrifrateSEdate {
  width: 15%;
}
#tariffRateBinding table thead tr .tarrifrateEFDate {
  width: 15%;
}
#tariffRateBinding #tariffRateEditor {
  margin-top: 15px;
}
#tariffRateBinding #tariffRateEditor .detailsContainer {
  width: 100%;
}
#tariffRateBinding #tariffRateEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#tariffRateBinding #tariffRateEditor #hgRateFilterIcon {
  margin-left: 15px;
}
#tariffRateBinding #tariffRateEditor .excessMileageCharge {
  width: 70px;
}
#tariffRateBinding #tariffRateEditor .allowMileage {
  width: 70px;
}
#tariffRateBinding #tariffRateEditor .standardRt {
  width: 70px;
}
#tariffRateBinding #tariffRateEditor .startDate {
  width: 90px;
}
#tariffRateBinding #tariffRateEditor .endDate {
  width: 90px;
}
#serviceRateBinding table thead tr .code {
  width: 18%;
}
#serviceRateBinding table thead tr .name {
  width: 18%;
}
#serviceRateBinding table thead tr .operation {
  width: 21%;
}
#serviceRateBinding table thead tr .tariffType {
  width: 18%;
}
#serviceRateBinding table thead tr .startDate {
  width: 18%;
}
#serviceRateBinding #serviceRateEditor {
  margin-top: 15px;
}
#serviceRateBinding #serviceRateEditor .serviceRate {
  width: 70px;
}
#serviceRateBinding #serviceRateEditor .startDate {
  width: 90px;
}
#serviceRateBinding #serviceRateEditor .detailsContainer {
  width: 100%;
}
#serviceRateBinding #serviceRateEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#insuranceRateBinding table thead tr .IRCode {
  width: 18%;
}
#insuranceRateBinding table thead tr .IRName {
  width: 18%;
}
#insuranceRateBinding table thead tr .IROperation {
  width: 22%;
}
#insuranceRateBinding table thead tr .IRType {
  width: 18%;
}
#insuranceRateBinding table thead tr .IRDate {
  width: 18%;
}
#insuranceRateBinding #insuranceRateEditor {
  margin-top: 15px;
}
#insuranceRateBinding #insuranceRateEditor .detailsContainer {
  width: 100%;
}
#insuranceRateBinding #insuranceRateEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#additionalDriverChargeBinding table thead tr .code {
  width: 18%;
}
#additionalDriverChargeBinding table thead tr .codeName {
  width: 18%;
}
#additionalDriverChargeBinding table thead tr .rate {
  width: 22%;
}
#additionalDriverChargeBinding table thead tr .operation {
  width: 18%;
}
#additionalDriverChargeBinding table thead tr .company {
  width: 18%;
}
#additionalDriverChargeBinding table thead tr .date {
  width: 18%;
}
#additionalDriverChargeBinding #additionalDriverChargeEditor {
  margin-top: 15px;
}
#additionalDriverChargeBinding #additionalDriverChargeEditor .detailsContainer {
  width: 100%;
}
#additionalDriverChargeBinding #additionalDriverChargeEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
#additionalChargeBinding table thead tr .Code {
  width: 18%;
}
#additionalChargeBinding table thead tr .Name {
  width: 18%;
}
#additionalChargeBinding table thead tr .IsEditable {
  width: 22%;
}
#additionalChargeBinding table thead tr .Description {
  width: 18%;
}
#additionalChargeBinding #additionalChargeEditor {
  margin-top: 15px;
}
#additionalChargeBinding #additionalChargeEditor .addToBtn {
  float: right;
  margin-right: 30px;
}
#additionalChargeBinding #additionalChargeEditor .additionalChargeWell {
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}
#additionalChargeBinding #additionalChargeEditor .detailsContainer {
  width: 100%;
}
#additionalChargeBinding #additionalChargeEditor .detailsContainer .detailsHeaderSection {
  float: left;
  width: 85%;
  margin-bottom: 20px;
  margin-top: 10px;
}
/*# sourceMappingURL=Pricing.css.map */