#tariffTypeBinding {

    table {
        thead {
            tr {
                .ttypesearchButton {
                    margin-left: 5px;
                }

                .tariffTypeCode {
                    width: 10%;
                }

                .tariffTypeName {
                    width: 13%;
                }

                .pricingScheme {
                    width: 13%;
                }

                .operation {
                    width: 17%;
                }

                .measurementUnit {
                    width: 12%;
                }

                .from {
                    width: 7%;
                }

                .to {
                    width: 7%;
                }

                .gracePeriod {
                    width: 7%;
                }

                .effectiveDate {
                    width: 5%;
                }

                .revision {
                    width: 5%;
                }
            }
        }
    }

    #tariffTypeEditor {
        margin-top: 15px;

        .detailsContainer {
            width: 100%;

            .detailsHeaderSection {
                float: left;
                width: 85%;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
    }
}

#tariffRateBinding {
    table {
        thead {
            tr {
                .tarrifratecode {
                    width: 15%;
                }

                .tarrifrateName {
                    width: 15%;
                }

                .tarrifrateOperation {
                    width: 20%;
                }

                .tarrifrateType {
                    width: 14%;
                }

                .tarrifrateSEdate {
                    width: 15%;
                }

                .tarrifrateEFDate {
                    width: 15%;
                }
            }
        }
    }

    #tariffRateEditor {
        margin-top: 15px;

        .detailsContainer {
            width: 100%;

            .detailsHeaderSection {
                float: left;
                width: 85%;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }

        #hgRateFilterIcon {
            margin-left: 15px;
        }

        .excessMileageCharge {
            width: 70px;
        }

        .allowMileage {
            width: 70px;
        }

        .standardRt {
            width: 70px;
        }

        .startDate {
            width: 90px;
        }

        .endDate {
            width: 90px;
        }
    }
}

#serviceRateBinding {
    table {
        thead {
            tr {
                .code {
                    width: 18%;
                }

                .name {
                    width: 18%;
                }

                .operation {
                    width: 21%;
                }

                .tariffType {
                    width: 18%;
                }

                .startDate {
                    width: 18%;
                }
            }
        }
    }

    #serviceRateEditor {
        margin-top: 15px;

        .serviceRate {
            width: 70px;
        }

        .startDate {
            width: 90px;
        }

        .detailsContainer {
            width: 100%;

            .detailsHeaderSection {
                float: left;
                width: 85%;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
    }
}

#insuranceRateBinding {
    table {
        thead {
            tr {
                .IRCode {
                    width: 18%;
                }

                .IRName {
                    width: 18%;
                }

                .IROperation {
                    width: 22%;
                }

                .IRType {
                    width: 18%;
                }

                .IRDate {
                    width: 18%;
                }
            }
        }
    }

    #insuranceRateEditor {
        margin-top: 15px;

        .detailsContainer {
            width: 100%;

            .detailsHeaderSection {
                float: left;
                width: 85%;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
    }
}

#additionalDriverChargeBinding {
    table {
        thead {
            tr {
                .code {
                    width: 18%;
                }

                .codeName {
                    width: 18%;
                }

                .rate {
                    width: 22%;
                }

                .operation {
                    width: 18%;
                }

                .company {
                    width: 18%;
                }

                .date {
                    width: 18%;
                }
            }
        }
    }

    #additionalDriverChargeEditor {
        margin-top: 15px;

        .detailsContainer {
            width: 100%;

            .detailsHeaderSection {
                float: left;
                width: 85%;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
    }
}

#additionalChargeBinding {

    table {
        thead {
            tr {
                .Code {
                    width: 25%;
                }

                .Name {
                    width: 25%;
                }

                .IsEditable {
                    width: 22%;
                }

                .Description {
                    width: 40%;
                }
            }
        }
    }

    #additionalChargeEditor {
        margin-top: 15px;
        .addToBtn {
  float: right;
  margin-right:30px;
}
          .additionalChargeWell{
                 margin-top:30px;
                margin-left:5px;
                margin-right:5px;
            }
        .detailsContainer {
            width: 100%;
          
            .detailsHeaderSection {
                float: left;
                width: 85%;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }
    }
}
