#rentalAgreementBinding {
  color: gray;
}
#rentalAgreementBinding .popover {
  max-width: none;
}
#rentalAgreementBinding .well {
  padding-top: 0;
}
#rentalAgreementBinding .form-control {
  padding: 2px;
  height: 25px;
}
#rentalAgreementBinding .control-label {
  padding-top: 3px;
}
#rentalAgreementBinding .form-group {
  margin-bottom: 5px;
}
#rentalAgreementBinding .form-group input,
#rentalAgreementBinding .form-group select,
#rentalAgreementBinding .form-group textarea {
  max-width: 100%;
}
#rentalAgreementBinding .form-group .col-xs-1,
#rentalAgreementBinding .form-group .col-xs-2,
#rentalAgreementBinding .form-group .col-xs-3,
#rentalAgreementBinding .form-group .col-xs-4,
#rentalAgreementBinding .form-group .col-xs-5,
#rentalAgreementBinding .form-group .col-xs-6,
#rentalAgreementBinding .form-group .col-xs-7,
#rentalAgreementBinding .form-group .col-xs-8,
#rentalAgreementBinding .form-group .col-xs-9,
#rentalAgreementBinding .form-group .col-xs-10,
#rentalAgreementBinding .form-group .col-xs-11,
#rentalAgreementBinding .form-group .col-xs-12,
#rentalAgreementBinding .form-group .col-sm-1,
#rentalAgreementBinding .form-group .col-sm-2,
#rentalAgreementBinding .form-group .col-sm-3,
#rentalAgreementBinding .form-group .col-sm-4,
#rentalAgreementBinding .form-group .col-sm-5,
#rentalAgreementBinding .form-group .col-sm-6,
#rentalAgreementBinding .form-group .col-sm-7,
#rentalAgreementBinding .form-group .col-sm-8,
#rentalAgreementBinding .form-group .col-sm-9,
#rentalAgreementBinding .form-group .col-sm-10,
#rentalAgreementBinding .form-group .col-sm-11,
#rentalAgreementBinding .form-group .col-sm-12,
#rentalAgreementBinding .form-group .col-md-1,
#rentalAgreementBinding .form-group .col-md-2,
#rentalAgreementBinding .form-group .col-md-3,
#rentalAgreementBinding .form-group .col-md-4,
#rentalAgreementBinding .form-group .col-md-5,
#rentalAgreementBinding .form-group .col-md-6,
#rentalAgreementBinding .form-group .col-md-7,
#rentalAgreementBinding .form-group .col-md-8,
#rentalAgreementBinding .form-group .col-md-9,
#rentalAgreementBinding .form-group .col-md-10,
#rentalAgreementBinding .form-group .col-md-11,
#rentalAgreementBinding .form-group .col-md-12,
#rentalAgreementBinding .form-group .col-lg-1,
#rentalAgreementBinding .form-group .col-lg-2,
#rentalAgreementBinding .form-group .col-lg-3,
#rentalAgreementBinding .form-group .col-lg-4,
#rentalAgreementBinding .form-group .col-lg-5,
#rentalAgreementBinding .form-group .col-lg-6,
#rentalAgreementBinding .form-group .col-lg-7,
#rentalAgreementBinding .form-group .col-lg-8,
#rentalAgreementBinding .form-group .col-lg-9,
#rentalAgreementBinding .form-group .col-lg-10,
#rentalAgreementBinding .form-group .col-lg-11,
#rentalAgreementBinding .form-group .col-lg-12 {
  padding-right: 0;
  padding-left: 8px;
}
#rentalAgreementBinding .form-group label {
  font-weight: normal;
  text-align: left;
}
#rentalAgreementBinding .form-group .checkBoxCol {
  width: 4.5%;
}
#rentalAgreementBinding .form-group .checkBoxCol input[type="checkbox"] {
  height: 15px;
  margin-top: 6px;
}
#rentalAgreementBinding #raPanels {
  width: 25.9%;
  float: left;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #ServiceType {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #ServiceItemName {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #ServiceItemCode {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #Quantity {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #StartDate {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #StartTime {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #EndDate {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #EndTime {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding #raPanels #raServiceItemsTable thead tr #DeleteServiceItem {
  width: 10%;
  max-width: 10%;
}
#rentalAgreementBinding .panel-heading {
  color: gray;
}
#rentalAgreementBinding .panel-group .panel {
  overflow: visible;
}
#rentalAgreementBinding .panel-default .panel-collapse .panel-body:not(.customPanel) {
  overflow-x: auto;
}
#rentalAgreementBinding a.headingLink {
  text-decoration: underline;
}
#rentalAgreementBinding a.glyphicon {
  text-decoration: none;
}
#rentalAgreementBinding #raMain {
  width: 36.5%;
  float: left;
  margin-left: .5%;
  margin-right: .5%;
}
#rentalAgreementBinding #raMain #customer {
  min-height: 173px;
}
#rentalAgreementBinding #raMain #customer #isIndividualLabel {
  width: 18%;
  margin-left: 11px;
}
#rentalAgreementBinding #raMain #customer label.col-sm-2 {
  width: 20%;
}
#rentalAgreementBinding #raMain #accordion3 {
  margin-top: 5px;
}
#rentalAgreementBinding #raMain #vehicle {
  margin-top: .5%;
  min-height: 268px;
}
#rentalAgreementBinding #raMain #vehicleImage {
  max-width: 32px;
  max-height: 32px;
}
#rentalAgreementBinding #raBilling {
  width: 36.5%;
  float: left;
}
#rentalAgreementBinding #raBilling #accordion5 {
  margin-top: 5px;
}
#rentalAgreementBinding #raBilling #ra {
  min-height: 236px;
}
#rentalAgreementBinding #raBilling #ra label.col-sm-2 {
  width: 16.5%;
}
#rentalAgreementBinding #raBilling #ra label.notFirstColumn {
  margin-left: 11px;
}
#rentalAgreementBinding #raBilling #ra #rentalPaymentTermLabel {
  width: 14%;
}
@media (min-width: 992px) {
  #rentalAgreementBinding #raBilling #ra .dateTimeControl {
    width: 39.3%;
  }
  #rentalAgreementBinding #raBilling #ra .dateTimeControl .dateControl {
    width: 57%;
    float: left;
  }
  #rentalAgreementBinding #raBilling #ra .dateTimeControl .timeControl {
    width: 39%;
    margin-left: 5px;
    float: left;
  }
  #rentalAgreementBinding #raBilling #ra #bookingNumberControl {
    width: 43%;
  }
  #rentalAgreementBinding #raBilling #ra #rentalPaymentTermControl {
    width: 28.5%;
    padding-left: 0;
  }
  #rentalAgreementBinding #raBilling #ra #returnLocationControl {
    width: 36.4%;
  }
  #rentalAgreementBinding #raBilling #ra .rentalHireGroupControl {
    width: 78%;
  }
}
@media (min-width: 768px) {
  #rentalAgreementBinding #raBilling #ra .input-small {
    width: 26.15%;
  }
}
#rentalAgreementBinding #raBilling #ra #rentalAgreementHireGroup {
  width: 369px;
}
#rentalAgreementBinding #raBilling #billing {
  margin-top: .5%;
  min-height: 105px;
}
#rentalAgreementBinding #raBilling #billing .Bold {
  font-weight: bold;
}
#rentalAgreementBinding #raBilling #billing div.form-group {
  margin-right: 0;
  margin-left: 0;
}
#rentalAgreementBinding #raBilling #billing div.form-group div {
  border-bottom: 1px solid black;
}
