#rentalAgreementBinding {
 
    #raPanels {
        width: 24.5%;
        float: left;
    }

    #raMain {
        width: 49.5%;
        float: left;
        margin-left: .5%;
        margin-right: .5%;

        #ra{

        }

        #vehicle{
            margin-top: .5%;
        }

        input,
        select,
        textarea {
            max-width: 100%;
        }
    }

    #raBilling {
        width: 24.5%;
        float: left;
        min-height: 343px;
    }
}
