#rentalAgreementBinding {
 
    .well
    {
        padding-top: 0;
    }

    .form-group
    {
        margin-bottom: 5px;
    }

    #raPanels {
        width: 25.9%;
        float: left;
    }

    #raMain {
        width: 36.5%;
        float: left;
        margin-left: .5%;
        margin-right: .5%;

        #ra{
            min-height: 300px;
        }

        #vehicle{
            margin-top: .5%;
            min-height: 105px;
        }

        input,
        select,
        textarea {
            max-width: 100%;
        }

        #vehicleImage
		{
			max-width: 32px;
			max-height: 32px;
		}
    }

    #raBilling {
        width: 36.5%;
        float: left;

        #customer{
            min-height: 300px;
        }

        #billing
        {
            margin-top: .5%;
            min-height: 105px;
        }
    }
}
