#rentalAgreementBinding .well {
  padding-top: 0;
}
#rentalAgreementBinding .form-group {
  margin-bottom: 5px;
}
#rentalAgreementBinding #raPanels {
  width: 25.9%;
  float: left;
}
#rentalAgreementBinding #raMain {
  width: 36.5%;
  float: left;
  margin-left: .5%;
  margin-right: .5%;
}
#rentalAgreementBinding #raMain #ra {
  min-height: 300px;
}
#rentalAgreementBinding #raMain #vehicle {
  margin-top: .5%;
  min-height: 105px;
}
#rentalAgreementBinding #raMain input,
#rentalAgreementBinding #raMain select,
#rentalAgreementBinding #raMain textarea {
  max-width: 100%;
}
#rentalAgreementBinding #raMain #vehicleImage {
  max-width: 32px;
  max-height: 32px;
}
#rentalAgreementBinding #raBilling {
  width: 36.5%;
  float: left;
}
#rentalAgreementBinding #raBilling #customer {
  min-height: 300px;
}
#rentalAgreementBinding #raBilling #billing {
  margin-top: .5%;
  min-height: 105px;
}
