#vehicleBinding {
    #vehicleDialog {
        img {
            height: 30px;
            width: 45px;
            -moz-transition: -moz-transform 0.5s ease-in;
            -webkit-transition: -webkit-transform 0.5s ease-in;
            -o-transition: -o-transform 0.5s ease-in;
            transition: -moz-transform 0.5s ease-in;
        }

        img:hover {
            -moz-transform: scale(3);
            -webkit-transform: scale(3);
            -o-transform: scale(3);
            -ms-transform: scale(3);
            transform: scale(3);
        }
    }

    .vehicleThumbnail{
         img {
                        height: 30px;
                        width: 45px;
                        -moz-transition: -moz-transform 0.5s ease-in;
                        -webkit-transition: -webkit-transform 0.5s ease-in;
                        -o-transition: -o-transform 0.5s ease-in;
                        transition: -moz-transform 0.5s ease-in;
                    }

                    img:hover {
                        -moz-transform: scale(3);
                        -webkit-transform: scale(3);
                        -o-transform: scale(3);
                        -ms-transform: scale(3);
                        transform: scale(3);
                    }
    }
    table {
        thead {
            tr {
                .vImage {
                    width: 10%;
                   
                }

                .vPlateNumber {
                    width: 5%;
                }

                .vName {
                    width: 10%;
                }

                .vModel {
                    width: 8%;
                }

                .vFuelLevel {
                    width: 6%;
                }

                .vCurrentOdemeter {
                    width: 6%;
                }

                .vLocation {
                    width: 13%;
                }

                .vMake {
                    width: 12%;
                }

                .vStatus {
                    width: 12%;
                }

                .operation {
                    width: 12%;
                }
            }
        }
    }

    #vehicleEditor {
        margin-top: 15px;

        .detailsContainer {
            width: 100%;

            .detailsHeaderSection {
                float: left;
                width: 85%;
                margin-bottom: 20px;
                margin-top: 10px;
            }
        }

        .addToBtn {
            float: right;
        }

        .addToBtnDiv {
            width: 100%;
            margin-bottom: 15px;
        }

        table {
            thead {
                tr {
                    .maintenanceType {
                        width: 18%;
                    }

                    .maintenanceStartDate {
                        width: 18%;
                    }

                    .frequencyInDays {
                        width: 7%;
                    }

                    .frequencyInKM {
                        width: 5%;
                    }

                    .checkListItem {
                        width: 18%;
                    }
                }
            }
        }
    }
}
