#WorkLocationBinding {

 table{
        thead{
            tr{
                .ttypesearchButton{
                    margin-left: 5px;
                }
                .WLcode{
                    width: 12%;           
                    }
                 .WLname{
                    width: 12%;           
                    }
                  .WLDescription{
                    width: 16%;           
                    }
                   .WLCompany{
                    width: 10%;           
                    }
                    .WLCountry{
                    width: 10%;           
                    }
                     .WLregion{
                    width: 10%;           
                    }
                      .WLSubregion{
                    width: 10%;           
                    }
                        .WLCity{
                    width: 10%;           
                    }
                      .WLArea{
                    width: 10%;           
                    }
             }
    }
}

 #WorkplaceEditor {
    margin-top: 15px;

    .detailsContainer {
        width: 100%;

        .detailsHeaderSection {
            float: left;
            width: 85%;
            margin-bottom: 20px;
            margin-top: 10px;
        }
                    }

     .addToBtn {
            float: right;
        }

        .addToBtnDiv {
            width: 100%;
            margin-bottom: 15px;
        }
  }

}