
<div class="well col-md-12" id="tariffTypeEditor" data-bind="visible: isTarrifTypeEditorVisible, with: selectedTarrifType" style="display: none;">
    <h3>Tariff Type Add/Edit</h3>
    <h2 class="sectionHeader">
        <span><a href="#" class="custom-link" id="link-action">< Back</a></span>
        <span>Tariff Type Editor</span>
    </h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="tariffTypeCode" class="control-label col-sm-2">Tariff Type Code *</label>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="<Tariff Type Code>" id="tariffTypeCode" data-bind="value: tariffTypeCode, validationTooltip: tariffTypeCode" />
            </div>
            <label for="tariffTypeName" class="control-label col-sm-2">Tariff Type Name</label>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="<Tariff Type Name>" id="tariffTypeName" data-bind="value: tarrifTypeName, validationTooltip: tarrifTypeName" />
            </div>

        </div>
        <div class="form-group">
            <label for="tariffTypeDescription" class="control-label col-sm-2">Description</label>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="<Description>" id="tariffTypeDescription" data-bind="value: tariffTypeDescription, validationTooltip: tariffTypeDescription" />
            </div>
            <label for="tariffTypeCompany" class="control-label col-sm-2">Company *</label>
            <div class="col-md-3">
                <select id="tariffTypeCompany" class="form-control" data-bind="options: $root.companies, optionsText: 'CompanyName', optionsValue: 'CompanyId', optionsCaption: '<Company>', value: companyId, validationTooltip: companyId"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="tariffTypeDepartment" class="control-label col-sm-2">Department *</label>
            <div class="col-md-3">
                <select id="tariffTypeDepartment" class="form-control" data-bind="options: $root.departments, optionsText: 'DepartmentName', optionsValue: 'DepartmentId', optionsCaption: '<Department>' , value: departmentId, validationTooltip: departmentId"></select>
            </div>
            <label for="tariffTypeOperation" class="control-label col-sm-2">Operation *</label>
            <div class="col-md-3">
                <select id="tariffTypeOperation" class="form-control" data-bind="options: $root.operations, optionsText: 'OperationName', optionsValue: 'OperationId', optionsCaption: '<Operation>' , value: operationId, validationTooltip: operationId"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="tariffTypeMeasurementUnit" class="control-label col-sm-2">Measurement Unit *</label>
            <div class="col-md-3">
                <select id="tariffTypeMeasurementUnit" class="form-control" data-bind="options: $root.measurementUnits, optionsText: 'MeasurementUnitName', optionsValue: 'MeasurementUnitId', optionsCaption: '<Measurement Unit>' , value: measurementUnitId, validationTooltip: measurementUnitId"></select>
            </div>
            <label for="tariffTypeStartFrom" class="control-label col-sm-2">Start From *</label>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="<Start From>" id="tariffTypeStartFrom" data-bind="value: durationFrom, validationTooltip: durationFrom" />
            </div>
        </div>
        <div class="form-group">
            <label for="tariffTypeEndTo" class="control-label col-sm-2">End To *</label>
            <div class="col-md-3">
                <input type="text" placeholder="<End To>" class="form-control" id="tariffTypeEndTo" data-bind="value: durationTo, validationTooltip: durationTo" />
            </div>
            <label for="tariffTypeGraceCode" class="control-label col-sm-2">Grace Period *</label>
            <div class="col-md-3">
                <input type="text" placeholder="<Grace Period>" class="form-control" id="tariffTypeGraceCode" data-bind="value: gracePeriod, validationTooltip: gracePeriod" />
            </div>
        </div>
        <div class="form-group">
            <label for="tariffTypeEffectiveDate" class="control-label col-sm-2">Effective start Date *</label>
            <div class="col-md-3">
                <input type="text" placeholder="<Effective start Date>" class="form-control" id="tariffTypeEffectiveDate" data-bind="datepicker: effectiveDate, validationTooltip: effectiveDate" />
            </div>
            <label for="tariffTypepricingStrategies" class="control-label col-sm-2">Pricing Strategy *</label>
            <div class="col-md-3">
                <select id="tariffTypepricingStrategies" class="form-control" data-bind="options: $root.pricingStrategies, optionsText: 'PricingStrategyName', optionsValue: 'PricingStrategyId', optionsCaption: '<Pricing Strategy>' , value: pricingStrategyId, validationTooltip: pricingStrategyId"></select>
            </div>
        </div>

        <div class="form-group">
            <button class="btn" id="saveBtn" data-bind="click: $root.onSaveTariffType, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
        </div>
    </form>
    <br/>
    <h2 class="sectionHeader">
        <span>Tariff Revisions</span>
      </h2>
    <table id="tarrifTypeRevisions" class="table table-condensed ">
        <thead>
            <tr>
                <th> <span id="1">Tariff Type Code<span class="icon-up"></span></span></th>
                <th> <span id="2">Tariff Type Name<span></span></span></th>
                <th> <span id="3">Duration From<span></span></span></th>
                <th> <span id="4">Duration To<span></span></span></th>
                <th> <span id="5">Grace Period<span></span></span></th>
                <th> <span id="6">Effective Date<span></span></span></th>
                <th> <span id="7">Revision<span></span></span></th>
                <th> <span id="8">Create dBy<span></span></span></th>
                <th> <span id="9">Modified By<span></span></span></th>
            </tr>
        </thead>
        <tbody>
            <!-- ko template: { name: $root.templateToUseForRevision , foreach: $root.revisions } -->
            <!-- /ko -->
        </tbody>
    </table>
    <script id="itemTarrifTypeRevisionTemplate" type="text/html">
        <tr>
            <td data-bind="text: TariffTypeCode"></td>
            <td data-bind="text: TariffTypeName"></td>
            <td data-bind="text: DurationFrom"></td>
            <td data-bind="text: DurationTo"></td>
            <td data-bind="text: GracePeriod"></td>
            <td data-bind="text: EffectiveDate"></td>
            <td data-bind="text: RevisionNumber"></td>
            <td data-bind="text: CreatedBy"></td>
            <td data-bind="text: ModifiedBy"></td>
            <td data-bind="text: ModifiedDate"></td>
            
        </tr>
    </script>
</div>
