@{
    ViewBag.Title = "Index";
}

<div class="row" id="tariffRateBinding">
    <div class="row searchFilterSection" >
        <div class="well">
            <form class="form-horizontal">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="<Search>"  />
                </div>
                <div class="col-xs-3">
                    <select class="form-control" data-bind="options: $root.companies, optionsText: 'CompanyName', optionsValue: 'CompanyId', optionsCaption: '<Company>', value: companyFilter"></select>
                </div>
                <button type="submit" class="btn btn-success" >Search</button>
                <div class="btn-group" id="createButton">
                    <button type="button"  class=" btn btn-default">Create New</button>
                </div>
            </form>
        </div>
    </div>
  

    @*@Html.Partial("_TariffTypeEditor")*@

</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["tariffRate/tariffRate.view", "common/confirmation.view"]);

    </script>
}
