@{
    ViewBag.Title = "Index";
}
Operation Show that related to sale department

<div class="row" id="tariffRateBinding">
    <div class="row searchFilterSection">
        <div class="well">
            <form class="form-horizontal" data-bind="submit: search">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="<Search>" data-bind="value: searchFilter" />
                </div>
                <div class="col-xs-3">
                    <select class="form-control" data-bind="options: $root.operations, optionsText: 'OperationName', optionsValue: 'OperationId', optionsCaption: '<Operation>', value: operationFilter"></select>
                </div>
                <div class="col-xs-3">
                    <select class="form-control" data-bind="options: $root.tariffTypes, optionsText: 'TariffTypeName', optionsValue: 'TariffTypeId', optionsCaption: '<Tariff Types>', value: tariffTypeFilter"></select>
                </div>
                <button type="submit" class="btn btn-success" data-bind="click: search">Search</button>
                <div class="btn-group" id="createButton">
                    <button type="button" data-bind="click:createTariffRate" class=" btn btn-default">Create New</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row searchFilterResultSection" data-bind="visible: !isTariffRateEditorVisible()">
        <div class="well">
            <table id="tariffRateTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th> <span id="1">Tariff Rate Code<span class="icon-up"></span></span></th>
                        <th> <span id="2">Tariff Rate Name<span></span></span></th>
                        <th> <span id="4">Description<span></span></span></th>
                        <th> <span id="5">Company<span></span></span></th>
                        <th> <span id="6">Operation<span></span></span></th>
                        <th> <span id="7">Tariff Type<span></span></span></th>
                        <th> <span id="8">Start Effective Date<span></span></span></th>
                        <th> <span id="9">End Effective Date<span></span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'itemTariffRateTemplate' , foreach: tariffRates } -->
                    <!-- /ko -->
                </tbody>
            </table>
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
        </div>
    </div>
    <script id="editActionTariffRateTemplate" type="text/html">
        <a href="#" data-bind="click: $root.createTariffRate" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="deleteActionTariffRateTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteTariffRate" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
    </script>
    <script id="itemTariffRateTemplate" type="text/html">
        <tr>
            <td data-bind="text: tariffRateCode"></td>
            <td data-bind="text: tariffRateName"></td>
            <td>
                <!-- ko template: { name: 'editActionTariffRateTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionTariffRateTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @Html.Partial("_TariffRateEditor")

</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["tariffRate/tariffRate.view", "common/confirmation.view"]);

    </script>
}
