@{
    ViewBag.Title = "Gross Sales Report";
}
<div class="row" id="AreaBinding">
    <div class="row ">
        <h3 class="page-header float-left pageHeaderSection">Gross Sales Report</h3>
    </div>
    <div class="row searchFilterResultSection">
        <div class="well" style="background-color: white; padding-top: 0px">
            <table id="AreaTable" class="table table-condensed">
                <thead>
                    <tr><td><iframe id="myReport" width="1240px" height="650px" src="~/Reports/GrossSalesReport.aspx"></iframe></td></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
