@{
    ViewBag.Title = "Rental Agreement Report";
}
<div class="row" id="rentalAgreementSearchBinding">
    <div class="row ">
        <h3 class="page-header float-left pageHeaderSection">Rental Agreement Report</h3>
    </div>
    <div class="row searchFilterSection">
        <div class="well">
            <form class="form-horizontal" data-bind="submit: search">
                <div class="col-xs-1 txtBox searchControlPadding">
                    <input type="text" class="form-control" placeholder='@Cares.Web.Resources.RentalAgreement.RentalAgreement.PHRANo' data-bind="value: raRentalAgreementId" />
                </div>
                <a class="btn btn-success" data-bind="click: search">@Cares.Web.Resources.Shared.Common.Search</a>
            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection">
        <div class="well" style="background-color: white ; padding-top: 0px">
            <table id="AreaTable" class="table table-condensed">
                <thead>
                    <tr><td><iframe id="myReport" width="1240px" height="1150px" src="" data-bind="attr: { src: reportSrc }"></iframe></td></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section inlinescripts
{
    <script type="text/javascript">
        require(["common/raReport.view"])
    </script>
}