@{
    ViewBag.Title = "Standard Rate Report";
}
<div class="row" id="AreaBinding">
    <div class="row ">
        <h3 class="page-header float-left pageHeaderSection">Standard Rate Report</h3>
    </div>
    <div class="row searchFilterResultSection">
        <div class="well" style="background-color: white">
            <table id="AreaTable" class="table table-condensed">
                <thead>
                    <tr><td><iframe id="myReport" width="1100px" height="550px" src="~/Reports/StandradRateReport.aspx"></iframe></td></tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
