
<div class="well col-md-12" id="FleetPoolEditor" data-bind="visible: isFleetPoolEditorVisible, with: selectedFleetPool" style="display: none;">
    <div class="float-left detailsContainer">
        <h3 class="page-header detailsHeaderSection">Fleet Pool Details</h3>
        <button class="btn  btn-info" id="saveFleetPoolbtn" data-bind="click: $root.onSaveFleetPool">Save</button>
        <button class="btn  btn-default" id="cancelFleetPoolbtn" data-bind="click: $root.onCancelSave">Cancel</button>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label h5 col-sm-2">Fleet Pool Code</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="<Fleet Pool Code>" id="tariffTypeCode" data-bind="value: code" />
            </div>
            <label class="control-label h5 col-sm-2">Fleet Pool Name</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="<Fleet Pool Name>" id="tariffTypeName" data-bind="value:name" />
            </div>
            <label class="control-label h5 col-sm-2">Vehicles Assigned</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="<Vehicles Assigned>" id="tariffTypeDescription" data-bind="value:vehiclesAssigned" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label h5 col-sm-2">Description</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="<Description>" id="tariffTypeCompany" data-bind="value:description" />
            </div>
            <label class="control-label h5 col-sm-2">Country</label>
            <div class="col-md-2">
                <select class="form-control" id="tariffTypeDepartment" data-bind="options: $root.countryList, optionsText: 'CountryCodeName', optionsValue: 'CountryId', optionsCaption: '<Country>', value: countryId, event: { change : $root.filterRegions}"></select>
            </div>
            <label class="control-label h5 col-sm-2">Region</label>
            <div class="col-md-2">
                <select class="form-control" id="tariffTypeOperation" data-bind="options: $root.contryBaseRegionList, optionsText: 'RegionCodeName', optionsValue: 'RegionId', optionsCaption: '<Region>', value: regionId"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label h5 col-sm-2">Operation</label>
            <div class="col-md-2">
                <select class="form-control" data-bind="options: $root.operationsList, optionsText: 'OperationCodeName', optionsValue: 'OperationId', optionsCaption: '<Operation>', value: operationId"></select>
            </div>
        </div>
    </form>

</div>
