
<div class="well col-md-12" id="tariffTypeEditor" data-bind="visible: isFleetPoolEditorVisible" style="display: none;">
    <form class="form-horizontal" style="position: relative; right: -1020px">
        <div class="row">
            <div class="col-xs-3 float-left">
                <button type="button" class="btn btn-info float-left" data-bind="click: onSaveFleetPool">Save</button>
                <button type="submit" class="btn btn-success float-left searchButton" data-bind="click:cancelSave">Cancel</button>
            </div>
        </div>
    </form>
    <hr/>
    <form class="form-horizontal">
        
        <div class="form-group" data-bind="with: selectedFleetPool">
            <label for="tariffTypeCode" class="control-label h5 col-sm-2">Fleet Pool Code</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="<Fleet Pool Code>" id="tariffTypeCode" data-bind="value: code" />
            </div>
            <label for="FleetPoolName" class="control-label h5 col-sm-2">Fleet Pool Name</label>
            <div class="col-md-2">
                <input type="text" class="form-control" required placeholder="<Fleet Pool Name>" id="FleetPoolName" data-bind="value:name" />
            </div>
            <label for="veh" class="control-label h5 col-sm-2">Vehicles Assigned</label>
            <div class="col-md-2">
                <input type="text" class="form-control" required placeholder="<Vehicles Asgnd>" id="veh" data-bind="value:vehiclesAssigned" />
            </div>
            <label for="FleetPoolDescription" class="control-label h5 col-sm-2">Description</label>
            <div class="col-md-2">
                <input type="text" class="form-control" required placeholder="<Description>" id="FleetPoolDescription" data-bind="value:description" />
            </div>


            <label for="tariffTypeCode" class="control-label h5 col-sm-2">Country</label>
            <div class="col-md-2">
                <select class="form-control" required data-bind="options: $root.countryList, optionsText: 'CountryName', optionsValue: 'CountryId', optionsCaption: '<Country>', value: countryId, event: { change : $root.filterRegions}"></select>
            </div>
            <label for="FleetPoolName" class="control-label h5 col-sm-2">Region</label>
            <div class="col-md-2">
                <select class="form-control" required data-bind="options: $root.contryBaseRegionList, optionsText: 'RegionName', optionsValue: 'RegionId', optionsCaption: '<Region>', value: regionId"></select>
            </div>
            <label for="veh" class="control-label h5 col-sm-2">Operation</label>
            <div class="col-md-2">
                <select class="form-control" required data-bind="options: $root.operationsList, optionsText: 'OperationName', optionsValue: 'OperationId', optionsCaption: '<Operation>', value: operationId"></select>
            </div>

        </div>
    </form>
   

</div>
