@{
    ViewBag.Title = "Index";
}

<div class="row" id="fleetRootBinding">
    <div class="row " data-bind="visible: !isFleetPoolEditorVisible()">
        <h3 class="page-header float-left pageHeaderSection">Fleet Pool</h3>
        <div class="header-toolsSection">
            <a href="#" class="label label-default create-new-icon" data-bind="click: createFleetForm" title="Create New Tariff">NEW</a>
            <a href="#" class="glyphicon glyphicon-filter " data-bind="visible: !filterSectionVisilble(), click: showFilterSection" title="Show Filters" style="display: none"></a>
        </div>
    </div>
    <div class="row searchFilterSection" data-bind="visible: !isFleetPoolEditorVisible() && filterSectionVisilble()">
        <div class="well">
            <form class="form-horizontal" data-bind="submit: search">

                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="<Fleet Pool>" data-bind="value: fleetPoolSeachFilter" />
                </div>
                <div class="col-xs-3">
                    <select class="form-control" data-bind="options: $root.regionsList, optionsText: 'RegionName', optionsValue: 'RegionId', optionsCaption: '<Region>', value: fleetPoolRegionFilter"></select>
                </div>
                <div class="col-xs-3">
                    <select class="form-control" data-bind="options: $root.operationsList, optionsText: 'OperationName', optionsValue: 'OperationId', optionsCaption: '<Operation>', value: fleetPoolOperationFilter"></select>
                </div>
                <button type="submit" class="btn btn-success" data-bind="click: search">Search</button>
                <button type="submit" class="btn btn-default" data-bind="click: reset">Reset</button>
                <a href="#" class="glyphicon glyphicon-resize-small float-right collapse-filter" data-bind="click: collapseFilterSection" title="Hide Section"></a>
            </form>
        </div>
    </div>
    
    <div class="row searchFilterResultSection" data-bind="visible: !isFleetPoolEditorVisible()">
        <div class="well">
            <table id="fleetPoolTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th > <span id="1">Code<span class="icon-up"></span></span></th>
                        <th > <span id="2">Name<span></span></span></th>
                        <th > <span id="3">Operation<span></span></span></th>
                        <th > <span id="4">Country<span></span></span></th>
                        <th > <span id="5">Region<span></span></span></th>
                        <th> <span></span></th>
                        <th> <span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'fleetPoolFilterResultTemplate' , foreach: fleetPools } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>
    <script id="deleteActionFleetPoolTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteFleetPool" title="Delete Fleet Pool"><span class="glyphicon glyphicon-remove"></span></a>
    </script>

    <script id="editActionFleetPoolTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditFleetPool" title="Edit in Form"><span class="glyphicon glyphicon-edit"></span></a>
    </script>
    <script id="fleetPoolFilterResultTemplate" type="text/html">
        <tr>
            <td data-bind="text: code"></td>
            <td data-bind="text: name"></td> 
            <td data-bind="text: operationName"></td>
            <td data-bind="text: countryName"></td>
            <td data-bind="text: regionName"></td>
            <td>
                <!-- ko template: { name: 'editActionFleetPoolTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionFleetPoolTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>    
    @Html.Partial("_FleetPoolEditor")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->


@section inlinescripts
{
    <script type="text/javascript">
        require(["Fleet/fleetPool.view", "common/confirmation.view"]);
</script>

}
