<div class="well col-md-12" id="businessPartnerEditor" data-bind="visible: isBusinessPartnerEditorVisible, with: selectedBusinessPartner" style="display: none;">
    <form class="form-horizontal">
        <h2 class="sectionHeader">
            <span><a href="#" class="custom-link" id="link-action" data-bind="click: $root.onCloseBusinessPartnerEditor">< Back</a></span>
            <span>Business Partner Editor</span>
            <button class="btn btn-sm pull-right" id="saveBtn" data-bind="click: $root.onSaveBusinessPartner, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
        </h2>   
        <div class="form-group">
            <label for="businessPartnerId" class="control-label col-sm-2">Customer #</label>
            <div class="col-md-2">
                <input type="text" class="form-control"   placeholder="" id="businessPartnerId" data-bind="value: businessPartnerId, enable :false" />
            </div>
       
            <label for="businessPartnerName" class="control-label col-sm-2">Business Partner Name</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="<Name>" id="businessPartnerName" data-bind="value: businessPartnerName, valueUpdate: 'keyup'" />
            </div>
      
            <label for="companies" class="control-label col-sm-2">Company *</label>
            <div class="col-md-2">
                <select id="companies" class="form-control" data-bind="options: $root.companies, optionsText: 'CompanyName', optionsValue: 'CompanyId', optionsCaption: '<Company>', value: companyId, validationTooltip: companyId"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="paymentTerms" class="control-label col-sm-2">Payment Term *</label>
            <div class="col-md-2">
                <select id="paymentTerms" class="form-control" data-bind="options: $root.paymentTerms, optionsText: 'PaymentTermName', optionsValue: 'PaymentTermId', optionsCaption: '<Payment Term>', value: paymentTermId, validationTooltip: paymentTermId"></select>
            </div>
            <label for="businessLegalStatuses" class="control-label col-sm-2">Legal Status</label>
            <div class="col-md-2">
                <select id="businessLegalStatuses" class="form-control" data-bind="options: $root.businessLegalStatuses, optionsText: 'BusinessLegalStatusName', optionsValue: 'BusinessLegalStatusId', optionsCaption: '<Business Legal Status>', value: businessLegalStatusId"></select>
            </div>
            <label for="isIndividual" class="control-label col-sm-2">Is Individual *</label>
            <div class="col-md-2">
                <input type="checkbox" class="form-control" id="isIndividual" data-bind="checked: isIndividual">
            </div>
        </div>
        <div class="form-group">
            <label for="isSystemGuarantor" class="control-label col-sm-2">Is System Guarantor *</label>
            <div class="col-md-2">
                <input type="checkbox" class="form-control" id="isSystemGuarantor" data-bind="checked: isSystemGuarantor">
            </div>

            <label for="systemGurantor" class="control-label col-sm-2">System Guarantor</label>
            <div class="col-md-2">
                <select id="systemGurantor" class="form-control" data-bind="options: $root.respBusinessPartners, optionsText: 'BusinessPartnerName', optionsValue: 'BusinessPartnerId', optionsCaption: '<System Guarantor>', value: systemGuarantorId"></select>

            </div>
            <label for="nonSystemGuarantor" class="control-label col-sm-2">External System Guarantor </label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="<External System Guarantor>" id="nonSystemGuarantor" data-bind="value: nonSystemGuarantor, valueUpdate: 'keyup'" />
            </div>
        </div>
        <div class="form-group">
            <label for="dealingEmployees" class="control-label col-sm-2">Dealing Employee</label>
            <div class="col-md-2">
                <select id="dealingEmployees" class="form-control" data-bind="options: $root.dealingEmployees, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '<Dealing Employee>', value: dealingEmployeeId"></select>
            </div>

            <label for="bPRatingTypes" class="control-label col-sm-2">Rating Type</label>
            <div class="col-md-2">
                <select id="bPRatingTypes" class="form-control" data-bind="options: $root.bpRatingTypes, optionsText: 'BpRatingTypeName', optionsValue: 'BpRatingTypeId', optionsCaption: '<BP Rating Type>', value: bPRatingTypeId"></select>
            </div>
            <label for="businessPartnerEmailAddress" class="control-label col-sm-2">Email</label>
            <div class="col-md-2">
                <input type="text" class="form-control" placeholder="<Email>" id="businessPartnerEmailAddress" data-bind="value: businessPartnerEmailAddress, valueUpdate: 'keyup'" />
            </div>
        </div>
        <div class="form-group">
            <label for="businessPartnerDesciption" class="control-label col-sm-2">Description</label>
            <div class="col-md-2">
                <textarea class="form-control" rows="2" placeholder="<Description>" id="businessPartnerDesciption" data-bind="value: businessPartnerDesciption, valueUpdate: 'keyup'"></textarea>
            </div>
        </div>
        <h2 class="sectionHeader">
            <span>Details</span>
        </h2> 
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#individualinfo" role="tab" data-toggle="tab">Individual Info.</a></li>
            <li><a href="#companyinfo" role="tab" data-toggle="tab">Company Info.</a></li>
            <li><a href="#bptype" role="tab" data-toggle="tab">BP Type.</a></li>
            <li><a href="#bpphone" role="tab" data-toggle="tab">BP Phone.</a></li>
            <li><a href="#bpaddress" role="tab" data-toggle="tab">BP Address.</a></li>
            <li><a href="#marketingchannel" role="tab" data-toggle="tab">Marketing Channel.</a></li>
            <li><a href="#bprelationships" role="tab" data-toggle="tab">BP Relationships.</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- first tab - indidvidual-->
            <div class="tab-pane active" id="individualinfo" data-bind="with: businessPartnerIndividual">
                <div class="form-group">
                    <label for="individualinfofirstname" class="control-label col-sm-2">First Name *</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<First Name>" id="individualinfofirstname" data-bind="value: individualFirstName, valueUpdate: 'keyup',validationTooltip: individualFirstName" />
                    </div>

                    <label for="individualinfomiddlename" class="control-label col-sm-2">Middle Name</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Middle Name>" id="individualinfomiddlename" data-bind="value: individualMiddleName, valueUpdate: 'keyup'" />
                    </div>

                    <label for="individualinfolastname" class="control-label col-sm-2">Last Name *</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Last Name>" id="individualinfolastname" data-bind="value: individualLastName, valueUpdate: 'keyup',validationTooltip: individualLastName" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="individualinfoinitials" class="control-label col-sm-2">Initials</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Initials>" id="individualinfoinitials" data-bind="value: individualInitials, valueUpdate: 'keyup'" />
                    </div>

                    <label for="individualinfomiddlename" class="control-label col-sm-2">Gender</label>
                    <div class="col-md-2">
                        <select id="dealingEmployees" class="form-control" data-bind="options: $root.optionGenderList, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '<Gender Status>', value: individualGenderStatus"></select>
                    </div>

                    <label for="individualinfolastname" class="control-label col-sm-2">Marital Status</label>
                    <div class="col-md-2">
                        <select id="dealingEmployees" class="form-control" data-bind="options: $root.optionMaritalStatusList, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '<Marital Status>', value: individualMaritalStatusCode"></select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="occupationTypes" class="control-label col-sm-2">Occupation Type</label>
                    <div class="col-md-2">
                        <select id="occupationTypes" class="form-control" data-bind="options: $root.occupationTypes, optionsText: 'OccupationTypeName', optionsValue: 'OccupationTypeId', optionsCaption: '<Occupation Type>', value: individualOccupationTypeId"></select>
                    </div>

                    <label for="individualDateOfBirth" class="control-label col-sm-2">Date of Birth *</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Date of Birth>" id="individualDateOfBirth" data-bind="datepicker: individualDateOfBirth, validationTooltip: individualDateOfBirth" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="individualinfonicnumber" class="control-label col-sm-2">NIC Number</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Nic Number>" id="individualinfonicnumber" data-bind="value: individualNicNumber, valueUpdate: 'keyup'" />
                    </div>
                    <label for="individualNicExpiryDate" class="control-label col-sm-2">NIC Expiry Date</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Nic Expiry Date>" id="individualNicExpiryDate" data-bind="datepicker: individualNicExpiryDate" />
                    </div>


                </div>
                <div class="form-group">
                    <label for="individualinfoiqamanumber" class="control-label col-sm-2">Iqama Number</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Iqama Number>" id="individualinfoiqamanumber" data-bind="value: individualIqamaNo, valueUpdate: 'keyup'" />
                    </div>

                    <label for="individualIqamaExpiryDate" class="control-label col-sm-2">Iqama Expiry Date</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Iqama Expiry Date>" id="individualIqamaExpiryDate" data-bind="datepicker: individualIqamaExpiryDate" />
                    </div>


                </div>
                <div class="form-group">
                    <label for="individualinfopassportnumber" class="control-label col-sm-2">Passport Number</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Passport Number>" id="individualinfopassportnumber" data-bind="value: individualPassportNumber, valueUpdate: 'keyup'" />
                    </div>

                    <label for="individualPassportExpiryDate" class="control-label col-sm-2">Passport Expiry Date</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Passport Expiry Date>" id="individualPassportExpiryDate" data-bind="datepicker: individualPassportExpiryDate" />
                    </div>
                    <label for="passportCountries" class="control-label col-sm-2">Passport Country</label>
                    <div class="col-md-2">
                        <select id="passportCountries" class="form-control" data-bind="options: $root.countries, optionsText: 'CountryName', optionsValue: 'CountryId', optionsCaption: '<Passport Country>', value: individualPassportCountryId"></select>
                    </div>

                </div>
                <div class="form-group">
                    <label for="individualinfolicencenumber" class="control-label col-sm-2">Licence Number</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Liscense Number>" id="individualinfolicencenumber" data-bind="value: individualLiscenseNumber, valueUpdate: 'keyup'" />
                    </div>

                    <label for="individualLiscenseExpiryDate" class="control-label col-sm-2">Licence Expiry Date</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Liscense Expiry Date>" id="individualLiscenseExpiryDate" data-bind="datepicker: individualLiscenseExpiryDate" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="individualinfotaxregistrationcode" class="control-label col-sm-2">Tax Registeration Code </label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Tax Registeration Code>" id="individualinfotaxregistrationcode" data-bind="value: individualTaxRegisterationCode, valueUpdate: 'keyup'" />
                    </div>

                    <label for="individualinfotaxnumber" class="control-label col-sm-2">Tax Number</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Tax Number>" id="individualinfotaxnumber" data-bind="value: individualTaxNumber, valueUpdate: 'keyup'" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="individualinfoisCompanyExternal" class="control-label col-sm-2">Is Company External? </label>
                    <div class="col-md-2">
                        <input type="checkbox" class="form-control" id="individualinfoisCompanyExternal" data-bind="checked: individualIsCompanyExternal">
                    </div>

                    <label for="businessPartnerCompanies" class="control-label col-sm-2">BP Company</label>
                    <div class="col-md-2">
                        <select id="businessPartnerCompanies" class="form-control" data-bind="options: $root.businessPartnerCompanies, optionsText: 'BusinessPartnerCompanyName', optionsValue: 'BusinessPartnerCompanyId', optionsCaption: '<BP Company>', value: individualBusinessPartnerCompnayId"></select>
                    </div>
                    <label for="individualinfoexternalcompanyname" class="control-label col-sm-2">External Company Name</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<External Company Name>" id="individualinfoexternalcompanyname" data-bind="value: individualCompanyName, valueUpdate: 'keyup'" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="individualinfocompanyphone" class="control-label col-sm-2">Company Phone</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Company Phone>" id="individualinfocompanyphone" data-bind="value: individualCompanyPhone, valueUpdate: 'keyup'" />
                    </div>

                    <label for="individualinfocompanyaddress" class="control-label col-sm-2">Company Address</label>
                    <div class="col-md-2">
                        <textarea class="form-control" rows="2" placeholder="<Company Address>" id="individualinfocompanyaddress" data-bind="value: individualCompanyAddress, valueUpdate: 'keyup'"></textarea>
                    </div>
                </div>
            </div>
            <!-- second tab - Company-->
            <div class="tab-pane" id="companyinfo" data-bind="with : businessPartnerCompany">
                <div class="form-group">
                    <label for="businessPartnerCompanyCode" class="control-label col-sm-2">Company Code *</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Compnay Code>" id="businessPartnerCompanyCode" data-bind="value: businessPartnerCompanyCode, valueUpdate: 'keyup',validationTooltip: businessPartnerCompanyCode" />
                    </div>

                    <label for="businessPartnerCompanyName" class="control-label col-sm-2">Company Name</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Company Name>" id="businessPartnerCompanyName" data-bind="value: businessPartnerCompanyName, valueUpdate: 'keyup'" />
                    </div>

                    <label for="businessPartnerCompanySwiftCode" class="control-label col-sm-2">Swift Code</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Swift Code>" id="businessPartnerCompanySwiftCode" data-bind="value: businessPartnerCompanySwiftCode, valueUpdate: 'keyup'" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="businessPartnerCompanyEstablishedSince" class="control-label col-sm-2">Establised Since</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Established Since>" id="businessPartnerCompanyEstablishedSince" data-bind="datepicker: businessPartnerCompanyEstablishedSince" />
                    </div>

                    <label for="businessPartnerCompanyAccountNumber" class="control-label col-sm-2">Account Number</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="<Account Number>" id="businessPartnerCompanyAccountNumber" data-bind="value: businessPartnerCompanyAccountNumber, valueUpdate: 'keyup'" />
                    </div>

                    <label for="individualinfolastname" class="control-label col-sm-2">Business Segment</label>
                    <div class="col-md-2">
                        <select id="businessSegments" class="form-control" data-bind="options: $root.businessSegments, optionsText: 'BusinessSegmentName', optionsValue: 'BusinessSegmentId', optionsCaption: '<Business Segment>',value : businessPartnerCompanyBusinessSegmentId"></select>
                    </div>
                </div>
            </div>
            <!-- third tab - Business Partner Type (BP Type)-->
            <div class="tab-pane" id="bptype">
               
                    <div data-bind="with:businessPartnerInTypeNew">
                        <div class="form-group">
                            <label for="BpTypebusinessPartnerSubTypes" class="control-label col-sm-2">BP Sub Type *</label>
                            <div class="col-md-2">
                                <select id="BpTypebusinessPartnerSubTypes" class="form-control" data-bind="options: $root.businessPartnerSubTypes, optionsText: 'BusinessPartnerSubTypeName', optionsValue: 'BusinessPartnerSubTypeCustomId', optionsCaption: '<BP Sub Type>',value : businessPartnerSubTypeId"></select>
                            </div>
                            <label for="businessPartnerTypeFromDate" class="control-label col-sm-2">From Date</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="<From Date>" id="businessPartnerTypeFromDate" data-bind="datepicker: fromDate" />
                            </div>
                            <label for="businessPartnerTypeToDate" class="control-label col-sm-2">To Date</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" placeholder="<To Date>" id="businessPartnerTypeToDate" data-bind="datepicker: toDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="TypesbPRatingTypes" class="control-label col-sm-2">Rating Type</label>
                            <div class="col-md-2">
                                <select id="TypesbPRatingTypes" class="form-control" data-bind="options: $root.bpRatingTypes, optionsText: 'BpRatingTypeName', optionsValue: 'BpRatingTypeCustomId', optionsCaption: '<BP Rating Type>',value : bpRatingTypeId"></select>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-sm pull-right" id="businessPartnerInTypesSave" data-bind="click: $root.onAddBusinessPartnerInType">Add To List</button>
                            </div>


                        </div>
                    </div>
                    <div class="form-group">
                        <div class=" col-md-8 well">
                            <table id="businessPartnerInTypesTable" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th> <span id="1">BP SubType<span></span></span></th>
                                        <th> <span id="2">Rating Type<span></span></span></th>
                                        <th> <span id="3">From Date<span></span></span></th>
                                        <th> <span id="4">To Date<span></span></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko template: { name: 'itemBusinessPartnerInTypeTemplate' , foreach: businessPartnerInTypes } -->
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                    </div>
               
            </div>
            <div class="tab-pane" id="bpphone">
                <div data-bind="with:businessPartnerPhoneNumberNew">
                    <div class="form-group">
                        <label for="phoneTypes" class="control-label col-sm-2">Phone Type *</label>
                        <div class="col-md-2">
                            <select id="phoneTypes" class="form-control" data-bind="options: $root.phoneTypes, optionsText: 'PhoneTypeName', optionsValue: 'PhoneTypeCustomId', optionsCaption: '<Phone Type>',value:phoneTypeId"></select>
                        </div>
                        <label for="phoneNumber" class="control-label col-sm-2">Phone Number *</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="<Phone Number>" id="phoneNumber" data-bind="value: phoneNumber, valueUpdate: 'keyup'" />
                        </div>

                        <label for="isDefault" class="control-label col-sm-2">Is Default</label>
                        <div class="col-md-2">
                            <input type="checkbox" class="form-control" id="isDefault" data-bind="checked: isDefault">
                        </div>
                    </div><div class="form-group">
                        <div class="col-md-2">
                            <button class="btn btn-sm pull-right" id="businessPartnerPhoneItemSave" data-bind="click: $root.onAddBusinessPartnerPhone">Add To List</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-8 well">
                        <table id="businessPartnerPhonesTable" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th> <span id="1">Phone Type<span></span></span></th>
                                    <th> <span id="2">Phone #<span></span></span></th>
                                    <th> <span id="3">Is Default<span></span></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko template: { name: 'itemBusinessPartnerPhoneTemplate' , foreach: businessPartnerPhoneNumbers } -->
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="bpaddress">
                <div data-bind="with:businessPartnerAddressNew">
                    <div class="form-group">
                        <label for="addressListCountries" class="control-label col-sm-2">Country *</label>
                        <div class="col-md-2">
                            <select id="addressListCountries" class="form-control" data-bind="options: $root.countries, optionsText: 'CountryName', optionsValue: 'CountryId', optionsCaption: '<Country>',value:countryId,event:{change:$root.onCountrySelectionChange}"></select>
                        </div>
                        <label for="addressListRegion" class="control-label col-sm-2">Region</label>
                        <div class="col-md-2">
                            <select id="addressListRegion" class="form-control" data-bind="options: $root.countryRegions, optionsText: 'RegionName', optionsValue: 'RegionId', optionsCaption: '<Region>',value:regionId,event:{change:$root.onRegionSelectionChange}"></select>
                        </div>
                        <label for="addressListSubRegion" class="control-label col-sm-2">Sub Region</label>
                        <div class="col-md-2">
                            <select id="addressListSubRegion" class="form-control" data-bind="options: $root.filteredSubRegions, optionsText: 'SubRegionName', optionsValue: 'SubRegionId', optionsCaption: '<Sub Region>',value:subRegionId,event:{change:$root.onSubRegionSelectionChange}"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressListCity" class="control-label col-sm-2">City</label>
                        <div class="col-md-2">
                            <select id="addressListCity" class="form-control" data-bind="options: $root.filteredCountryCities, optionsText: 'CityName', optionsValue: 'CityId', optionsCaption: '<City>',value:cityId,event:{change:$root.onCitySelectionChange}"></select>
                        </div>
                        <label for="addressListAreas" class="control-label col-sm-2">Area</label>
                        <div class="col-md-2">
                            <select id="addressListAreas" class="form-control" data-bind="options: $root.filteredAreas, optionsText: 'AreaName', optionsValue: 'AreaId', optionsCaption: '<Area>',value:areaId"></select>
                        </div>
                        <label for="isDefault" class="control-label col-sm-2">Address Type *</label>
                        <div class="col-md-2">
                            <select id="addressListAddressType" class="form-control" data-bind="options: $root.addressTypes, optionsText: 'AddressTypeName', optionsValue: 'AddressTypeId', optionsCaption: '<Address Type>',value:addressTypeId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressListPhoneNumber" class="control-label col-sm-2">PO Box Number</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="<PO Box Number>" id="addressListPhoneNumber" data-bind="value: poBox, valueUpdate: 'keyup'" />
                        </div>
                        <label for="addressListZipCode" class="control-label col-sm-2">Zip Code</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="<Zip Code>" id="addressListZipCode" data-bind="value: zipCode, valueUpdate: 'keyup'" />
                        </div>
                        <label for="addressListStreetAddress" class="control-label col-sm-2">Street Address *</label>
                        <div class="col-md-2">
                            <textarea class="form-control" rows="2" placeholder="<Street Address>" id="addressListStreetAddress" data-bind="value : streetAddress,valueUpdate: 'keyup'"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addressListWebPage" class="control-label col-sm-2">Web Page</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="<Web Page>" id="addressListWebPage" data-bind="value: webPage, valueUpdate: 'keyup'" />
                        </div>
                        <label for="addressListEmailAddress" class="control-label col-sm-2">Email Address</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="<Email Address>" id="addressListEmailAddress" data-bind="value: emailAddress, valueUpdate: 'keyup'" />
                        </div>
                        <label for="addressListContactPerson" class="control-label col-sm-2">Contact Person</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="<Contact Person>" id="addressListContactPerson" data-bind="value: contactPerson, valueUpdate: 'keyup'" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2">
                            <button class="btn btn-sm pull-right" id="businessPartnerAddressItemSave" data-bind="click: $root.onAddBusinessPartnerAddress">Add To List</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-12 well">
                        <table id="businessPartnerAddressTable" class="table table-condensed">
                            <thead>
                                <tr>
                                    <th> <span id="1">Address Type<span></span></span></th>
                                    <th> <span id="2">Country<span></span></span></th>
                                    <th> <span id="3">Region<span></span></span></th>
                                    <th> <span id="4">Sub Region<span></span></span></th>
                                    <th> <span id="5">City<span></span></span></th>
                                    <th> <span id="6">Area<span></span></span></th>
                                    <th> <span id="7">PO Box#<span></span></span></th>
                                    <th> <span id="8">Zip Code<span></span></span></th>
                                    <th> <span id="9">Web Address<span></span></span></th>
                                    <th> <span id="10">Email Address<span></span></span></th>
                                    <th> <span id="11">Address<span></span></span></th>
                                    <th> <span id="12">Contact Person<span></span></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko template: { name: 'itemBusinessPartnerAddressTemplate' , foreach: businessPartnerAddressList } -->
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="marketingchannel">...</div>
            <div class="tab-pane" id="bprelationships">...</div>
        </div>
    </form>
</div>

<script id="itemBusinessPartnerInTypeTemplate" type="text/html">
    <tr>
        <td data-bind="text: businessPartnerSubTypeName"></td>
        <td data-bind="text: bpRatingTypeName"></td>
        <td data-bind="dateString: fromDate, datePattern: 'MM/DD/YYYY'"></td>
        <td data-bind="dateString: toDate, datePattern: 'MM/DD/YYYY'"></td>
        <td>
            <!-- ko template: { name: 'deleteActionBusinessPartnerInTypeTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="deleteActionBusinessPartnerInTypeTemplate" type="text/html">
    <a href="#" data-bind="click: $root.onDeleteBusinessPartnerInType" title="Delete Business Partner InType"><span class="glyphicon glyphicon-remove"></span></a>
</script>
<script id="itemBusinessPartnerPhoneTemplate" type="text/html">
    <tr>
        <td data-bind="text: phoneTypeName"></td>
        <td data-bind="text: phoneNumber"></td>
        <td data-bind="text: isDefault"></td>
         <td>
            <!-- ko template: { name: 'deleteActionBusinessPartnerPhoneTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="deleteActionBusinessPartnerPhoneTemplate" type="text/html">
    <a href="#" data-bind="click: $root.onDeleteBusinessPartnerPhone" title="Delete Business Partner Phone"><span class="glyphicon glyphicon-remove"></span></a>
</script>
<script id="itemBusinessPartnerAddressTemplate" type="text/html">
    <tr>
        <td data-bind="text: addressTypeId"></td>
        <td data-bind="text: countryId"></td>
        <td data-bind="text: regionId"></td>
        <td data-bind="text: subRegionId"></td>
        <td data-bind="text: cityId"></td>
        <td data-bind="text: areaId"></td>
        <td data-bind="text: poBox"></td>
        <td data-bind="text: zipCode"></td>
        <td data-bind="text: webPage"></td>
        <td data-bind="text: emailAddress"></td>
        <td data-bind="text: streetAddress"></td>
        <td data-bind="text: contactPerson"></td>
        <td>
            <!-- ko template: { name: 'deleteActionBusinessPartnerAddressTemplate' } -->
            <!-- /ko -->
        </td>
    </tr>
</script>
<script id="deleteActionBusinessPartnerAddressTemplate" type="text/html">
    <a href="#" data-bind="click: $root.onDeleteBusinessPartnerAddress" title="Delete Business Partner Address"><span class="glyphicon glyphicon-remove"></span></a>
</script>