@{
    ViewBag.Title = "Index";
}

<div class="row" id="businessPartnerBinding">
    <div class="row searchFilterSection" data-bind="visible: !isBusinessPartnerEditorVisible()">
        <div class="well">
            <form class="form-horizontal" data-bind="submit: search">
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder="<Search>" data-bind="value: searchFilter" />
                </div>
                <div class="col-xs-3">
                    <select class="form-control" data-bind="options: $root.optionIndividualOrCompany, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '<All>', value: selectFilter"></select>
                </div>
                <div class="btn-group" id="createButton">
                    <button type="button" class="btn btn-default" data-bind="click: createBusinessPartnerInForm">Create New</button>
                </div>
                <button type="submit" class="btn btn-success" data-bind="click: search">Search</button>
            </form>
        </div>
    </div>
    <div class="row searchFilterResultSection" data-bind="visible: !isBusinessPartnerEditorVisible()">
        <div class="well">
            <table id="businessPartnerTable" class="table table-condensed">
                <thead>
                    <tr>
                        <th> <span id="1">Customer #<span class="icon-up"></span></span></th>
                        <th> <span id="2">BP Name<span></span></span></th>
                        <th> <span id="3">Individual/Company<span></span></span></th>
                        <th> <span id="4">Company<span></span></span></th>
                        <th> <span id="5">Rating Type<span></span></span></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- ko template: { name: 'itemBusinessPartnerTemplate' , foreach: businessPartners } -->
                    <!-- /ko -->
                </tbody>
            </table>
            <!-- ko with: pager -->
                @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
            <!-- /ko -->
        </div>
    </div>


    <script id="deleteActionBusinessPartnerTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onDeleteBusinessPartner" title="Delete Business Partner"><span class="glyphicon glyphicon-remove"></span></a>
    </script>

    <script id="editActionBusinessPartnerTemplate" type="text/html">
        <a href="#" data-bind="click: $root.onEditBusinessPartner" title="Edit in Form"><span class="glyphicon glyphicon-edit"></span></a>
    </script>

    <script id="itemBusinessPartnerTemplate" type="text/html">
       <tr data-bind="click: $root.selectBusinessPartner, css: { selectedRow: $data === $root.listSelectedBusinessPartner() }">
           <td data-bind="text: businessPartnerListId"></td>
           <td data-bind="text: businessPartnerListName"></td>
           <td data-bind="text: isIndividual"></td>
            <td data-bind="text: company"></td>
            <td data-bind="text: bPRatingType"></td>
            <td>
                <!-- ko template: { name: 'editActionBusinessPartnerTemplate' } -->
                <!-- /ko -->
            </td>
            <td>
                <!-- ko template: { name: 'deleteActionBusinessPartnerTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>

    @Html.Partial("_BusinessPartnerEditor")

</div>

<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["businessPartner/businessPartner.view", "common/confirmation.view"]);
    </script>
}




