@{
    ViewBag.Title = "Index";
}


<button type="submit" class="btn btn-success" data-bind="click: search">Search</button>
    

<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section inlinescripts
{
    <script type="text/javascript">
        require(["OrganizationGroup/OrganizationGroup.view", "common/confirmation.view"]);
    </script>

}
